---
---

/* Import sass files */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300|Source+Code+Pro:400,300");
$fonts: 'Source Sans Pro', sans-serif;
$monospace: 'Source Code Pro', monospace;

/* Variables and color palette */
@import "variables";

@import "base";
@import "bootstrap";

@import "partials/header";
@import "partials/footer";
@import "partials/submenu";
@import "partials/sidemenu";
@import "partials/notice";
@import "partials/infobox";

/* Padding and margins */
@import "utils";
/* Blinking cursor */
@import "typed-cursor";

/* Additional button styles */
@import "buttons";

/* Landing page large map */
@import "world-map";

/**
* since the top menu is fixed top, .main-content should always have a padding top
* (according to the navbar's size)
*/
.main-content {
  padding-top: 7em;
}

.parallax-window {
    min-height: 40em;
    background: transparent;
    padding-top: 15em;
}

.hero-background {
  background: url("../img/Header.jpg") no-repeat;
  background-size: cover;
  height: 25%;
}

@media screen and (min-width: 35.5em) {
  .hero-subhead {
    font-family: $fonts;
    font-weight: 600;
    text-transform: none;
  }
}

@media screen and (max-width: 35.5em) {
  .hero-subhead {
    font-size: 20px;
  }
}

.input-addon {
  position: relative;
  input {
    padding-left:  30px;
    padding-right: 30px;
  }
  .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  .input-icon-left  {
    left:  0px;
  }
  .input-icon-right {
    right: 0px;
  }
}

.map {
  min-height: 20em;
  height: 25em;
  width: 70%;
}

<<<<<<< HEAD
.side-menu {
  .side-menu-title {
    padding-top: 1em;
    font-size: 115%;
  }
  li {
    list-style: none;
  }
  a {
    margin-left: .5em;
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: $secondary;
    cursor: pointer;
  }
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $secondary;
}

.notice {
  padding: 1em 1em;
  margin: 1em 0;
}

.notice.tldr {
  border-left: 6px solid #34AE5D;
  color: #34AE5D;
}

.notice.warning {
  border-left: 6px solid #d35043;
  color: #d35043;
}

.notice.note {
  border-left: 6px solid #1d9bce;
  color: #1d9bce;
}

.notice.eli5 {
  border-left: 6px solid #EB804D;
  color: #EB804D;
}

.notice.tip {
  border-left: 6px solid #A44CC9;
  color: #A44CC9;
=======
.docs {
  line-height: 1.6;
  font-size: 16px;
>>>>>>> origin/master
}

pre .copy-to-clipboard {
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: #4d5257;
  color: #ccc;
  border-radius: 2px;
}

code+.copy-to-clipboard {
  margin-left: -1px;
  border-left: 0 !important;
  font-size: inherit !important;
  vertical-align: middle;
  height: 21px;
  top: 0;
}

.copy-to-clipboard {
  background-position: 50% 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width: 27px;
  height: 1.45rem;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: #5e5e5e;
  background-color: #fefaed;
  margin-left: -.2rem;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
}

.gitter-chat-embed {
  z-index: 9999;
}
