---
---

/* Import sass files */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300|Source+Code+Pro:400,300");
$fonts: 'Source Sans Pro', sans-serif;
$monospace: 'Source Code Pro', monospace;

/* Variables and color palette */
@import "variables";

/* Base css */
@import "base";

@import "vendor/bootstrap";
@import "vendor/gitter-sidecar";

@import "partials/header";
@import "partials/footer";
@import "partials/submenu";
@import "partials/sidemenu";
@import "partials/notices";
@import "partials/infobox";
/* Padding and margins */
@import "modules/utils";
@import "modules/clipboard";
@import "modules/typed-cursor";
@import "modules/buttons";
@import "modules/issues-labels";
/* Padding and margins */

@import "modules/world-map";
/* Infobox styles */


/**
* since the top menu is fixed top, .main-content should always have a padding top
* according to the navbar's size
*/
.main-content {
  padding-top: 7em;
}


.parallax-window {
    background: transparent;
    min-height: 43em;
    padding-top: 15em;
}

.hero-background {
  background: url("../img/Header.jpg") no-repeat;
  background-size: cover;
  height: 25%;
}

.input-addon {
  position: relative;
  
  input {
    padding-left:  30px;
    padding-right: 30px;
  }
  
  .fa {
    padding: 10px;
    position: absolute;
    pointer-events: none;
  }
  
  .input-icon-left  {
    left:  0px;
  }
  
  .input-icon-right {
    right: 0px;
  }
}

.map {
  min-height: 20em;
  height: 25em;
  width: 70%;
}

.docs {
  font-size: 16px;
  line-height: 1.6;
}
