<div class="ui small horizontal divided link list">
  <a class="item" href="/about/terms-of-use">Terms of Use</a>
  <a class="item" href="/about/contributor-terms">Contributor Terms</a>
  <a class="item" href="/about/code-of-conduct">Code of Conduct</a>
  <a class="item" href="/about/faq">FAQ</a>
  <div class="item">
    <a href="https://github.com/DIYbiosphere/sphere" target="_blank">
      <span data-tooltip="GitHub" data-variation="mini" data-inverted="">
        <i class="fab fa-github icon"></i>
      </span>
    </a>
    <a href="https://twitter.com/DIYbiosphere" target="_blank">
      <span data-tooltip="Twitter" data-variation="mini" data-inverted="">
        <i class="fab fa-twitter icon"></i>
      </span>
    </a>

    <a href="https://diybiosphere.herokuapp.com/" target="_blank">
      <span data-tooltip="Slack" data-variation="mini" data-inverted="">
        <i class="fab fa-slack icon"></i>
      </span>
    </a>
    <!-- Gitter -->
    <a href="https://gitter.im/DIYbiosphere/sphere?utm_source=share-link&utm_medium=link&utm_campaign=share-link" target="_blank">
      <span data-tooltip="Gitter" data-variation="mini" data-inverted="">
        <i class="fab fa-gitter icon"></i>
      </span>
    </a>

  </div>

</div>
