<div class="ui horizontal huge link list">
  <a class="item noelink noul" href="https://github.com/DIYbiosphere/sphere" target="_blank">
    <span data-tooltip="GitHub" data-variation="mini" data-inverted="">
      <i class="fab fa-github icon"></i>
    </span>
  </a>
  <!-- twitter -->
  <a class="item noelink noul" href="https://twitter.com/DIYbiosphere" target="_blank">
    <span data-tooltip="Twitter" data-variation="mini" data-inverted="">
      <i class="fab fa-twitter icon"></i>
    </span>
  </a>

  <a class="item noelink noul" href="https://diybiosphere.herokuapp.com/" target="_blank">
    <span data-tooltip="Slack" data-variation="mini" data-inverted="">
      <i class="fab fa-slack icon"></i>
    </span>
  </a>
  <!-- Gitter -->
  <a class="item noelink noul" href="https://gitter.im/DIYbiosphere/sphere?utm_source=share-link&utm_medium=link&utm_campaign=share-link" target="_blank">
    <span data-tooltip="Gitter" data-variation="mini" data-inverted="">
      <i class="fab fa-gitter icon"></i>
    </span>
  </a>
</div>
