<div class="ui tab active basic segment" data-tab="overview">
  <h1 class="ui header">{{ page.title }}
  {% if page.subtitle %}
    <div class="sub header">
      <em>{{ page.subtitle }}</em>
    </div>
  {% endif %}
  </h1>
  {{content}}
  <div class="ui horizontal divider">
    <i class="far fa-comments icon"></i>
    COMMENTS
  </div>
  {% include githubComments.html %}
  {% if page.edit_issue %}
  {% else %}
  <div class="ui basic center aligned segment">
    <a class="noelink" href="https://github.com/DIYbiosphere/talk/issues/new" target="_blank">
      <div class="ui animated mini primary button" tabindex="0">
        <div class="visible content">
          <i class="far fa-comment"></i>
          &nbsp; Open the Main Disussion
        </div>
        <div class="hidden content">
          by Opening an Issue on GitHub
        </div>
      </div>
    </a>
  </div>
  {% endif %}
</div>

<div class="ui tab basic segment" data-tab="projects">
  <h1 class="ui header">Projects
    <div class="sub header">
      <em> by {{ page.title }}</em>
    </div>
  </h1>

  <div class="ui items">
    {% for project in site.projects %}
      {% if project.host-org == page.title %}
        <div class="item">
          <div class="content">
            <a class="header" href="{{ project.url }}">{{ project.title }}</a>
              <div class="description">
                <p>{{ project.subtitle }}</p>
                <p>{{ project.text | truncatewords: 30 }}</p>
              </div>
            <div class="extra">
              <div class="ui small labels">
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="ui tab basic segment" data-tab="issues">
  <h1 class="ui header">
    Editing Discussion
    {% include editOnGitHub.html %}
      <div class="sub header">
        <em>for "{{ page.title }}" page</em>
      </div>
    </h1>
    {% if page.edit_issue %}
    {% else %}
    <div class="ui basic center aligned segment">
      <a class="noelink" href="https://github.com/DIYbiosphere/talk/issues/new" target="_blank">
        <div class="ui animated mini primary button" tabindex="0">
          <div class="visible content">
            <i class="far fa-comment"></i>
            &nbsp; Open the Editing Disussion
          </div>
          <div class="hidden content">
            by Opening an Issue on GitHub
          </div>
        </div>
      </a>
    </div>
    {% endif %}

  <div class="xo padding top">
  {% include githubCommentsEdit.html %}
  </div>
</div>
