<!-- If header image in file (.png or .jpg), then display -->
{% if page.header %}
<div class="ui segment" style="margin-top: -100px;">
{% else %}
<div class="ui segment">
{% endif %}

<a class="noelink" href="{{ page.website }}" target="_blank">
  <!-- Display logo -->

  <!-- In case it is png -->
    {% if page.logo %}
        <img class="ui small centered image" src="{{ page.logo }}"/>
    {% endif %}
</a>

        <table class="ui very basic small table">
        <tbody>

          <!-- Predecessor -->
          {% if page.predecessor %}
          <tr>
            <td>
              Predecessor:
            </td>
            <td>
              {{ page.predecessor | markdownify }}
            </td>
            </tr>
          </tr>
          {% endif %}

          <!-- Successor -->
          {% if page.successor %}
          <tr>
            <td>
              Successor:
            </td>
            <td>
              {{ page.successor | markdownify }}
            </td>
            </tr>
          </tr>
          {% endif %}

          <!-- start-date -->
          {% if page.start-date %}
          <tr>
            <td>
              Start Date:
            </td>
            <td>
              {{ page.start-date }}
            </td>
            </tr>
          </tr>
          {% endif %}

          <!-- End-Date -->
          {% if page.end-date %}
          <tr>
            <td>
              End Date:
            </td>
            <td>
              {{ page.end-date }}
            </td>
            </tr>
          </tr>
          {% endif %}

          <!-- Type -->
          {% if page.type-org %}
          <tr>
            <td>
              Type:
            </td>
            <td>
              {{ page.type-org }}
            </td>
            </tr>
          </tr>
          {% endif %}

          <!-- Status -->
          {% if page.status %}
          <tr>
            <td>
              Status:
            </td>
            <td>
              {{ page.status }}
            </td>
            </tr>
          </tr>
          {% endif %}

          <!-- Membership -->
          {% if page.membership %}
          <tr>
            <td>
              Membership:
            </td>
            <td>
              {{ page.membership }}
            </td>
            </tr>
          </tr>
          {% endif %}

          <!-- Founders -->
          {% if page.founders %}
          <tr>
            <td>
              Founders:
            </td>
            <td>
              {{ page.founders }}
            </td>
            </tr>
          </tr>
          {% endif %}

          <!-- Authors -->
          {% if page.authors %}
          <tr>
            <td>
              Authors:
            </td>
            <td>
              {{ page.authors | markdownify }}
            </td>
            </tr>
          </tr>
          {% endif %}


          <!-- Parent organization -->
          {% if page.host-org %}
          <tr>
            <td>
              Host Organization:
            </td>
            <td>
              {% if page.host-org contains 'http' %}
                {{ page.host-org | markdownify }}
                {% else %}
                {% for lab in site.labs %}
                  {% if lab.title==page.host-org %}
                  <a class="noelink" href="{{ lab.url | prepend: site.baseurl }}">
                    {{ lab.title }}
                  </a>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </td>
            </tr>
          </tr>
          {% endif %}

          <!-- Affilliations -->
          {% if page.affilliations %}
          <tr>
            <td>
              Affiliations:
            </td>
            <td>
              {{ page.afilliations | markdownify }}
            </td>
            </tr>
          </tr>
          {% endif %}

          <!-- Number of members -->
          {% if page.size-members %}
          <tr>
            <td>
              Size:
            </td>
            <td>
              {{ page.size-members | markdownify }}
            </td>
            </tr>
          </tr>
          {% endif %}

          <!-- Area -->
          {% if page.area %}
          <tr>
            <td>
              Area:
            </td>
            <td>
              {{ page.area }}
            </td>
            </tr>
          </tr>
          {% endif %}


          <!-- Location -->
          <tr class="top aligned">
            <td>
              <span>Location:</span>
            </td>
            <td>
              <!-- Address -->
              {% if page.address %}
              {{ page.address }}{% if page.directions %}, {{ page.directions }}{% endif %} <br>
              {% endif %}
              <!-- City and country -->
              {% if page.city or page.state or page.country %}
                {{ page.city }}
                {% if page.city and page.state %}, {% endif %}
                {% if page.state %}
                {{ page.state }} {% endif %}
                {% if page.city or page.state %}<br> {% endif %}
                {% if page.country %}
                {{ page.country }}
                {% endif %}
              {% endif %}
            </td>
          </tr>
        </tbody>

      </table>
</div>

  {% include entry/links-icons.html %}
