<!--
ADDING A NEW
{% if page._______ %}
  <a class="noelink" href="{{ page._______ }}" target="_blank">
    <span data-tooltip="_______" data-variation="mini" data-inverted="">
      <i class="_______"></i>
    </span>
  </a>
{% endif %}
-->
<div class="ui horizontal huge link list">
  <div class="item">

    {% if page.website %}
    <a href="mailto:{{ page.website }}" target="_blank">
      <span data-tooltip="Go to website" data-variation="mini" data-inverted="">
        <i class="fas fa-home"></i>
      </span>
    </a>
    {% endif %}

    {% if page.email %}
    <a href="mailto:{{ page.email }}" target="_blank">
      <span data-tooltip="Send email" data-variation="mini" data-inverted="">
        <i class="fas fa-envelope"></i>
      </span>
    </a>
    {% endif %}

    {% if page.mailing-list %}
    <a class="noelink" href="{{ page.mailing-list }}" target="_blank">
      <span data-tooltip="Mailing List" data-variation="mini" data-inverted="">
        <i class="fas fa-envelope-open"></i>
      </span>
    </a>
    {% endif %}

    {% if page.rss %}
    <a class="noelink" href="{{ page.rss }}" target="_blank">
      <span data-tooltip="RSS feed" data-variation="mini" data-inverted="">
        <i class="fas fa-rss-square"></i>
      </span>
    </a>
    {% endif %}


    {% if page.forum %}
    <a class="noelink" href="{{ page.forum }}" target="_blank">
      <span data-tooltip="Join forum" data-variation="mini" data-inverted="">
        <i class="fas fa-comments"></i>
      </span>
    </a>
    {% endif %}

    {% if page.discourse %}
    <a class="noelink" href="{{ page.discourse }}" target="_blank">
      <span data-tooltip="Discourse" data-variation="mini" data-inverted="">
        <i class="fas discourse"></i>
      </span>
    </a>
    {% endif %}

    {% if page.blog %}
    <a class="noelink" href="{{ page.blog }}" target="_blank">
      <span data-tooltip="Blog" data-variation="mini" data-inverted="">
        <span class="fa-layers fa-fw">
          <i class="fas fa-comment"></i>
          <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 up-1" style="font-weight:900">blog</span>
        </span>
      </span>
    </a>
    {% endif %}

    {% if page.medium %}
    <a class="noelink" href="{{ page.medium-blog }}" target="_blank">
      <span data-tooltip="Medium Blog" data-variation="mini" data-inverted="">
        <i class="fab fa-medium"></i>
      </span>
    </a>
    {% endif %}

    {% if page.tumblr %}
    <a class="noelink" href="{{ page.tumblr }}" target="_blank">
      <span data-tooltip="Go to Tumblr" data-variation="mini" data-inverted="">
        <i class="fab fa-tumblr"></i>
      </span>
    </a>
    {% endif %}

    {% if page.facebook-group %}
    <a class="noelink" href="{{ page.facebook-group }}" target="_blank">
      <span data-tooltip="Facebook group" data-variation="mini" data-inverted="">
        <i class="fab fa-facebook-f"></i>
      </span>
    </a>
    {% endif %}

    {% if page.github %}
    <a class="noelink" href="{{ page.github }}" target="_blank">
      <span data-tooltip="Github" data-variation="mini" data-inverted="">
        <i class="fab fa-github"></i>
      </span>
    </a>
    {% endif %}

    {% if page.bitbicket %}
    <a class="noelink" href="{{ page.bitbicket }}" target="_blank">
      <span data-tooltip="Bitbucket" data-variation="mini" data-inverted="">
        <i class="fab bitbicket"></i>
      </span>
    </a>
    {% endif %}

    {% if page.twitter %}
    <a class="noelink" href="{{ page.twitter }}" target="_blank">
      <span data-tooltip="Twitter" data-variation="mini" data-inverted="">
        <i class="fab fa-twitter"></i>
      </span>
    </a>
    {% endif %}

    {% if page.facebook %}
    <a class="noelink" href="{{ page.facebook }}" target="_blank">
      <span data-tooltip="Facebook" data-variation="mini" data-inverted="">
        <i class="fab fa-facebook"></i>
      </span>
    </a>
    {% endif %}

    {% if page.google-plus %}
    <a class="noelink" href="{{ page.google-plus }}" target="_blank">
      <span data-tooltip="google-plus" data-variation="mini" data-inverted="">
        <i class="fab fa-google-plus"></i>
      </span>
    </a>
    {% endif %}

    {% if page.google-group %}
    <a class="noelink" href="{{ page.google-group }}" target="_blank">
      <span data-tooltip="Google Group" data-variation="mini" data-inverted="">
        <i class="fas fa-comments"></i>
      </span>
    </a>
    {% endif %}

    {% if page.instagram %}
    <a class="noelink" href="{{ page.instagram }}" target="_blank">
      <span data-tooltip="Instagram" data-variation="mini" data-inverted="">
        <i class="fab fa-instagram"></i>
      </span>
    </a>
    {% endif %}

    {% if page.flickr %}
    <a class="noelink" href="{{ page.flickr }}" target="_blank">
      <span data-tooltip="Flickr" data-variation="mini" data-inverted="">
        <i class="fab fa-flickr"></i>
      </span>
    </a>
    {% endif %}

    {% if page.vimeo %}
    <a class="noelink noelink noul" href="{{ page.vimeo }}" target="_blank">
      <span data-tooltip="Vimeo" data-variation="mini" data-inverted="">
        <i class="fab fa-vimeo"></i>
      </span>
    </a>
    {% endif %}

    {% if page.youtube %}
    <a class="noelink" href="{{ page.youtube }}" target="_blank">
      <span data-tooltip="YouTube" data-variation="mini" data-inverted="">
        <i class="fab fa-youtube"></i>
      </span>
    </a>
    {% endif %}

    {% if page.basecamp %}
    <a class="noelink" href="{{ page.basecamp }}" target="_blank">
      <span data-tooltip="Basecamp" data-variation="mini" data-inverted="">
        <i class="fab fa-twitter"></i>
      </span>
    </a>
    {% endif %}

    {% if page.slack %}
    <a class="noelink" href="{{ page.slack }}" target="_blank">
      <span data-tooltip="Slack" data-variation="mini" data-inverted="">
        <i class="fab fa-slack"></i>
      </span>
    </a>
    {% endif %}

    {% if page.gitter %}
    <a class="noelink noelink noul" href="{{ page.gitter }}" target="_blank">
      <span data-tooltip="Gitter" data-variation="mini" data-inverted="">
        <i class="fab fa-gitter"></i>
      </span>
    </a>
    {% endif %}

    {% if page.rocketchat %}
    <a class="noelink" href="{{ page.rocketchat }}" target="_blank">
      <span data-tooltip="Rocketchat" data-variation="mini" data-inverted="">
        <i class="fab fa-rocketchat"></i>
      </span>
    </a>
    {% endif %}

    {% if page.irc %}
    <a class="noelink" href="{{ page.irc }}" target="_blank">
      <span data-tooltip="IRC" data-variation="mini" data-inverted="">
        <i class="fas fa-hashtag"></i>
      </span>
    </a>
    {% endif %}

    {% if page.trello %}
    <a class="noelink" href="{{ page.trello }}" target="_blank">
      <span data-tooltip="Trello" data-variation="mini" data-inverted="">
        <i class="fab fa-trello"></i>
      </span>
    </a>
    {% endif %}

    {% if page.dropbox %}
    <a class="noelink" href="{{ page.dropbox }}" target="_blank">
      <span data-tooltip="Dropbox" data-variation="mini" data-inverted="">
        <i class="fab fa-dropbox"></i>
      </span>
    </a>
    {% endif %}

    {% if page.google-drive %}
    <a class="noelink" href="{{ page.google-drive }}" target="_blank">
      <span data-tooltip="Google drive" data-variation="mini" data-inverted="">
        <i class="fab fa-google-drive"></i>
      </span>
    </a>
    {% endif %}

    {% if page.wiki %}
    <a class="noelink" href="{{ page.wiki }}" target="_blank">
      <span data-tooltip="Wiki" data-variation="mini" data-inverted="">
        <span class="fa-layers fa-fw">
          <i class="fas fa-rectangle-landscape"></i>
          <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10" style="font-weight:900">wiki</span>
        </span>
      </span>
    </a>
    {% endif %}

    {% if page.linkedin %}
    <a class="noelink" href="{{ page.linkedin }}" target="_blank">
      <span data-tooltip="Linkedin" data-variation="mini" data-inverted="">
        <i class="fab fa-linkedin"></i>
      </span>
    </a>
    {% endif %}

    {% if page.angellist %}
    <a class="noelink" href="{{ page.angellist }}" target="_blank">
      <span data-tooltip="Angel List" data-variation="mini" data-inverted="">
        <i class="fab fa-angellist"></i>
      </span>
    </a>
    {% endif %}

    {% if page.meetup %}
    <a class="noelink" href="{{ page.meetup }}" target="_blank">
      <span data-tooltip="Meetup" data-variation="mini" data-inverted="">
        <i class="fab fa-meetup"></i>
      </span>
    </a>
    {% endif %}

    {% if page.pinterest %}
    <a class="noelink" href="{{ page.pinterest }}" target="_blank">
      <span data-tooltip="Pinterest" data-variation="mini" data-inverted="">
        <i class="fab fa-pinterest"></i>
      </span>
    </a>
    {% endif %}

    {% if page.kickstarter %}
    <a class="noelink" href="{{ page.kickstarter }}" target="_blank">
      <span data-tooltip="Kickstarter" data-variation="mini" data-inverted="">
        <i class="fab fa-kickstarter"></i>
      </span>
    </a>
    {% endif %}

    {% if page.patreon %}
    <a class="noelink" href="{{ page.patreon }}" target="_blank">
      <span data-tooltip="Patreon" data-variation="mini" data-inverted="">
        <i class="fab fa-patreon"></i>
      </span>
    </a>
    {% endif %}

    {% if page.paypal %}
    <a class="noelink" href="{{ page.paypal }}" target="_blank">
      <span data-tooltip="Paypal" data-variation="mini" data-inverted="">
        <i class="fab fa-paypal"></i>
      </span>
    </a>
    {% endif %}

    {% if page.links %}
      {% for link in page.links %}
      <a class="noelink" href="{{ link.URL }}" target="_blank">
        <span data-tooltip="{{ link.tooltip }}" data-variation="mini" data-inverted="">
          <i class="fas fa-link"></i>
        </span>
      </a>
      {% endfor %}
    {% endif %}

  </div>
</div>
