<div class="ui dropdown item">
  <b>BROWSE</b>
  <i class="angle down icon"></i>
  <div class="menu">
    <a class="item" href="/entries/"><i class="far fa-globe icon"></i>Everything</a>
    <div class="divider"></div>
    <a class="item" href="/entries/?q=&idx=diybiosphere&p=0&dFR%5Bcollection%5D%5B0%5D=projects"><i class="far fa-briefcase icon"></i>Projects</a>
    <a class="item" href="/entries/?q=&idx=diybiosphere&p=0&dFR%5Bcollection%5D%5B0%5D=startups"><i class="far fa-rocket icon"></i>Startups</a>
    <a class="item" href="/entries/?q=&idx=diybiosphere&p=0&dFR%5Bcollection%5D%5B0%5D=labs"><i class="far fa-flask icon"></i>Labs</a>
    <a class="item" href="/entries/?q=&idx=diybiosphere&p=0&dFR%5Bcollection%5D%5B0%5D=incubators"><i class="far fa-leaf icon"></i>Incubators</a>
    <a class="item" href="/entries/?q=&idx=diybiosphere&p=0&dFR%5Bcollection%5D%5B0%5D=groups"><i class="far fa-users icon"></i>Groups</a>
    <a class="item" href="/entries/?q=&idx=diybiosphere&p=0&dFR%5Bcollection%5D%5B0%5D=networks"><i class="far fa-share-alt icon"></i>Networks</a>
    <a class="item" href="/entries/?q=&idx=diybiosphere&p=0&dFR%5Bcollection%5D%5B0%5D=events"><i class="far fa-calendar-alt icon"></i>Events</a>
    <a class="item" href="/entries/?q=&idx=diybiosphere&p=0&dFR%5Bcollection%5D%5B0%5D=others"><i class="far fa-umbrella icon"></i>Others</a>
  </div>
</div>
