
  <a class="item" href="/docs/tutorials/add-entry/users"><i class="far fa-plus-square icon"></i>Add Entry</a>
  <a class="item" href="/docs/tutorials/edit-entry/users"><i class="far fa-pen-square icon"></i>Edit Content</a>
  <a class="item" target="_blank" href="https://github.com/DIYbiosphere/sphere"><i class="github icon"></i>Github (repo)</a>
  <a class="item" href="/docs/welcome"><i class="far fa-book icon"></i>Learn More (docs)</a>
  <a class="item" href="/about/support-us"><i class="far fa-thumbs-up icon"></i>Support Us</a>
