  <div class="ui two column grid">

    {% if page.layout == "entry" %}
    <!-- Breadcrumb for Database -->
      <div class="column xo paddingless">
        <div class="ui breadcrumb">
          <a class="section" href="/database/">Database</a>
          <div class="divider"> / </div>
          <a class="section" href="/database/{{ page.collection | downcase }}/">{{ page.collection | capitalize }}</a>
          <div class="divider"> / </div>
          <div class="active section">{{ page.title }}</div>
        </div>
      </div>

    {% else %}
    <!-- Breadcrumb for Documentation -->
    <div class="column xo paddingless">
      <div class="ui breadcrumb">
          <a class="section" href="/docs/">Documentation</a>
          {% if page.crumb %}
          <div class="divider"> / </div>
          <a class="section" href="/docs/{{ page.crumb }}/">{{ page.crumb | capitalize }}</a>
          {% endif %}
          {% if page.crumb2 %}
          <div class="divider"> / </div>
          <a class="section" href="/docs/{{ page.crumb }}/{{ page.crumb2 | downcase }}/">{{ page.crumb2 | capitalize }}</a>
          {% endif %}
          <div class="divider"> / </div>
          <div class="active section">{{ page.title }}</div>
      </div>
    </div>
    {% endif %}

    <div class="column right aligned xo paddingless">
      Latest commit: {{ page.last_modified | date_to_string }}
    </div>


    <div class="column xo padding top without middle aligned">
      <i class="wait icon"></i>
        {% assign words = content | number_of_words %}
        {% if words < 360 %}
           1 min read
        {% else %}
           {{ words | divided_by:180 }} mins read
        {% endif %}
    </div>



    <div class="column right aligned xo padding top without">
      <div class="ui icon compact tiny menu">
        <a class="item" data-vivaldi-spatnav-clickable="1" data-tooltip="Edit this Page on GitHub" href="{{site.github.repository_url}}/blob/master/{{page.path}}" target="_blank">
          <i class="edit icon"></i>
        </a>
        <a class="item" data-vivaldi-spatnav-clickable="1" data-tooltip="Submit a Bug Report" href="{{site.github.repository_url}}/blob/master/{{page.path}}" target="_blank">
          <i class="bug icon"></i>
        </a>
        <a class="item" data-tooltip="Select a Language">
          <i class="world icon"></i>
            <div class="ui inline dropdown">
              <div class="text">EN</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="header">Select language</div>
                <div class="active item" data-text="EN">English</div>
                <div class="item" data-text="FR">French</div>
                <div class="item" data-text="ES">Spanish</div>
              </div>
            </div>
        </a>
      </div>
    </div>
  </div> <!-- close row -->
