  <div class="ui two column grid">

    {% if page.layout == "entry" %}
    <!-- Breadcrumb for Database -->
      <div class="column">
        <div class="ui breadcrumb">
          <a class="section" href="/database/">Database</a>
          <div class="divider"> / </div>
          <a class="section" href="/database/{{ page.collection | downcase }}/">{{ page.collection | capitalize }}</a>
          <div class="divider"> / </div>
          <div class="active section">{{ page.title }}</div>
        </div>
      </div>

    {% else %}
    <!-- Breadcrumb for Documentation -->
    <div class="column">
      <div class="ui breadcrumb">
          <a class="section" href="/database/">Documentation</a>
          <div class="divider"> / </div>
          <a class="section" href="/database/{{ page.collection | downcase }}/">{{ page.collection | capitalize }}</a>
          <div class="divider"> / </div>
          <div class="active section">{{ page.title }}</div>
      </div>
    </div>
    {% endif %}

    <div class="column right aligned">
      <i class="edit icon"></i> <a href="{{site.github.repository_url}}/blob/master/{{page.path}}" target="_blank">
         Edit this page</a>
      </div>


    <div class="column">
      <i class="wait icon"></i>
        {% assign words = content | number_of_words %}
        {% if words < 360 %}
           1 min read
        {% else %}
           {{ words | divided_by:180 }} mins read
        {% endif %}
    </div>

    <div class="column right aligned">
      Latest commit: {{ page.last_modified | date_to_string }}
    </div>
  </div> <!-- close row -->
