<div class="ui tab active basic segment" data-tab="overview">

  <div class="ui items">
    <div class="item">
      <div class="content">
        <h1 class="ui header">
          <a href="{{ page.website }}" target="_blank">{{ page.title }}</a>
        </h1>
        <p><a href="{{ page.website }}" target="_blank">
          {{ page.website | remove_first: "https://" | remove_first: "http://" }}
        </a></p>
        {% if page.subtitle %}
          <p><em>{{ page.subtitle }}</em></p>
        {% endif %}
        <div class="description">
          {{content}}
        </div>
      </div>
    </div>
  </div>


  <div class="ui horizontal divider">
    <i class="far fa-comments icon"></i>
    COMMENTS
  </div>
  {% include githubComments.html %}
  {% if page.edit_issue %}
  {% else %}
  <div class="ui basic center aligned segment">
    <a class="noelink" href="https://github.com/DIYbiosphere/talk/issues/new" target="_blank">
      <div class="ui animated mini basic primary button" tabindex="0">
        <div class="visible content">
          <i class="far fa-comment"></i>
          &nbsp; Open the Main Disussion
        </div>
        <div class="hidden content">
          by Opening an Issue on GitHub
        </div>
      </div>
    </a>
  </div>
  {% endif %}
</div>

{% if page.layout == "entry" or page.layout == "entry-example" %}
<div class="ui tab basic segment" data-tab="projects">
  <h2 class="ui header">Projects
    <div class="sub header">
      <em> by {{ page.title }}</em>
    </div>
  </h2>

  {% if page.layout == "entry-example" %}
  <div class="ui items">
        <div class="item">
          <div class="content">
            <a class="header" href="{{ project.url }}">Avocado Toast</a>
              <div class="description">
                <p></p>
                <p></p>
              </div>
            <div class="extra">
              <div class="ui small labels">
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <a class="header" href="{{ project.url }}">Guacamole</a>
              <div class="description">
                <p></p>
                <p></p>
              </div>
            <div class="extra">
              <div class="ui small labels">
              </div>
            </div>
          </div>
        </div>
      </div>
  {% endif %}

  <div class="ui items">
    {% for project in site.projects %}
      {% if project.host-org == page.title %}
        <div class="item">
          <div class="content">
            <a class="header" href="{{ project.url }}">{{ project.title }}</a>
              <div class="description">
                <p>{{ project.subtitle }}</p>
                <p>{{ project.text | truncatewords: 30 }}</p>
              </div>
            <div class="extra">
              <div class="ui small labels">
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>



</div>
  {% endif %}





<div class="ui tab basic segment" data-tab="issues">
  <h3 class="ui grey header">
    Editing Discussion
    {% include editOnGitHub.html %}
      <div class="sub header">
        <em>for "{{ page.title }}" page</em>
      </div>
    </h3>
    {% if page.edit_issue %}
    {% else %}
    <div class="ui basic center aligned segment">
      <a class="noelink" href="https://github.com/DIYbiosphere/talk/issues/new" target="_blank">
        <div class="ui animated mini primary basic button" tabindex="0">
          <div class="visible content">
            <i class="far fa-comment"></i>
            &nbsp; Open the Editing Disussion
          </div>
          <div class="hidden content">
            by Opening an Issue on GitHub
          </div>
        </div>
      </a>
    </div>
    {% endif %}

  <div class="xo padding top">
  {% include githubCommentsEdit.html %}
  </div>
</div>
