<div>
 <ul class="crumbs">
   <li> <a href="/database/">
     Database
   </a>
    /
   <a href="/database/{{ page.collection | downcase }}/">
     {{ page.collection | capitalize }}
   </a>
    /
   {{ page.title }} </li>
   <li class="commits"><a href="{{site.github.repository_url}}/blob/master/{{page.path}}" target="_blank">
     <i class="fa fa-pencil"></i> Edit this page</a></li>
  </ul>
  </div>

  <div>
    <ul>
      <li> {% include reading-time.html %} </li>
      <li class="commits">Latest commit: {{ page.last_modified | date_to_string }} </li>
     </ul>
  </div>
