<footer>
  <div class="ui padded grid">

<!-- Buttons -->
    <div class="row">
      <div class="ui grid container">
        <div class="sixteen wide column center aligned">
          <div class="ui horizontal list">
            <div class="item">
              <a href='https://github.com/DIYbiosphere/sphere'><img src='https://img.shields.io/github/stars/diybiosphere/sphere.svg?style=social&label=Star&maxAge=2592000' alt='Star diybiosphere/sphere!'/></a>
            </div>
            <div class="item">
              <a href='https://github.com/DIYbiosphere/sphere'><img src='https://img.shields.io/github/forks/diybiosphere/sphere.svg?style=social&label=Fork&maxAge=2592000' alt='Fork diybiosphere/sphere!'/></a>
            </div>
            <div class="item">
              <a href='https://gratipay.com/DIYbiosphere/'><img src='https://img.shields.io/gratipay/DIYbiosphere.svg?style=social&label=Donate&maxAge=2592000' alt='Donate to us!'/></a>
            </div>
            <div class="item slackin">
              <script src="https://diybiosphere.herokuapp.com/slackin.js" async defer></script>
            </div>
            <div class="item">
              <a href='https://twitter.com/DIYbiosphere'><img src='https://img.shields.io/twitter/follow/diybiosphere.svg?style=social&label=Follow&maxAge=2592000' alt='Follow @diybiosphere'></a>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Useful links -->
    <div class="row">
      <div class="ui grid container">
        <div class="four wide column">
          <div class="ui list">
            <div class="item header">DIYbiosphere</div>
              <div class="item"><a href="docs/introduction/overview/">Overview</a></div>
              <div class="item"><a href="docs/news/roadmap/">Roadmap</a></div>
              <div class="item"><a href="docs/about/organization">Organization</a></div>
              <div class="item"><a href="docs/about/community">Community</a></div>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui list">
            <div class="item header">Database</div>
              <div class="item"><a href="docs/introduction/getting-started/">Getting Started!</a></div>
              <div class="item"><a href="docs/basics/database/#collection-of-entries">Entry Collections</a></div>
              <div class="item"><a href="docs/basics/database/#data-fields">Typology of Initiatives</a></div>
              <div class="item"><a href="docs/basics/database/#data-fields">Data Fields</a></div>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui list">
            <div class="item header">Contribute</div>
              <div class="item"><a href="docs/support/contributing">Contributing Guide</a></div>
              <div class="item"><a href="docs/tutorials/add-entry">Adding a New Entry</a></div>
              <div class="item"><a href="docs/tutorials/edit-entry">Editing an Entry</a></div>
              <div class="item"><a href="https://github.com/DIYbiosphere/sphere/issues">Jump into our Issues</a></div>
          </div>
        </div>
        <div class="four wide column">
          <div class="ui list">
            <div class="item header">Connect</div>
              <div class="item"><a href="docs/support/contributing/#membership-request">Join Us!</a></div>
              <div class="item"><a href="docs/news/blog">Read our Blog</a></div>
              <div class="item"><a href="https://diybiosphere.herokuapp.com/">Get invite to Slack</a></div>
          </div>
        </div>
      </div>
    </div>

<!-- Black footer -->
    <div class="row black">
      <div class="ui grid container center aligned">
        <div class="sixteen wide column">
          <div class="ui horizontal divided list">
            <div class="item">
              <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">CC-C0</a>
               Except where <a href="docs/tutorials/noting-copyright/">otherwise noted</a>, content on this site is dedicated to the public domain
            </div>
            <div class="item">
              <a href="docs/copyright/license/">Terms of (re)use</a>
            </div>
            <div class="item">
              <a href="docs/copyright/cla/">Contributor Terms</a>
            </div>
            <div class="item">
              <a href="docs/about/coc/">Code of Conduct</a>
            </div>
            <div class="item">
              <a href="docs/support/faq/">FAQ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--SOCIALS SVGICONS
            <a href="https://github.com/DIYbiosphere/sphere">{% svgicon octoface %}</a>
            <a href="https://gitter.im/DIYbiosphere/sphere?utm_source=share-link&utm_medium=link&utm_campaign=share-link">{% svgicon gitter %} </a>
            <a href="https://diybiosphere.slack.com/messages/general/">{% svgicon slack %}</a>
            <a href="https://twitter.com/DIYbiosphere">{% svgicon twitter %}</a>
            <a href="https://gratipay.com/DIYbiosphere/">{% svgicon gratipay %}</a> -->
