<a class="github-button" href="{{ site.github.repository_url }}"
  data-icon="octicon-star" data-style="default"
  data-count-href="/{{ site.github.owner_name }}/{{ site.github.repository_name }}/stargazers"
  data-count-api="/repos/{{ site.github.owner_name }}/{{ site.github.repository_name }}#stargazers_count"
  data-count-aria-label="# stargazers on GitHub"
  aria-label="Star {{ site.github.owner_name }}/{{ site.github.repository_name }} on GitHub">Star</a>
&nbsp;&nbsp;&nbsp;
<a class="github-button" href="{{ site.github.repository_url }}/fork"
  data-icon="octicon-repo-forked" data-style="default"
  data-count-href="/{{ site.github.owner_name }}/{{ site.github.repository_name }}/network" data-count-api="/repos/DIYbiosphere/sphere#forks_count"
  data-count-aria-label="# forks on GitHub""
  aria-label="Fork {{ site.github.owner_name }}/{{ site.github.repository_name }} on GitHub">Fork</a>


<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
