<div class="ui mini horizontal divided link list">
  <!-- Display last edited date of the page -->
  <div class=" disabled item">
     Last edit: {% last_modified_at %}
  </div>

  <!-- Link to the page in the Github Repository -->
  <a class="item noelink noul" href="https://github.com/DIYbiosphere/sphere/edit/master/{{page.path}}" target="_blank">
    <span data-tooltip="Edit page in GitHub" data-variation="mini" data-inverted="">
      <i class="far fa-edit" data-fa-transform="grow-6 right-6"></i>
    </span>
  </a>

  <!-- How it works: check in `_data/talk_repo/yml` for an instance where doc_name is equal to the title of the current page -->
  {% for issue in site.data.talk_repo %}
    {% if issue.doc_name == page.file_name  %}

      {% if issue.edit_issue %}
      {% assign edit_issue = true %}
      <a class="item noelink noul" href="https://github.com/diybiosphere/talk/issues/{{ issue.edit_issue }}#new_comment_field" target="_blank">
        <span data-tooltip="Add to GitHub Issue" data-variation="mini" data-inverted="">
          <i class="far fa-bug" data-fa-transform="grow-6 right-6"></i>
        </span>
      </a>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if edit_issue != true '%}
  <a class="item noelink noul" href="https://github.com/diybiosphere/talk/issues/new" target="_blank">
    <span data-tooltip="Open GitHub Issue" data-variation="mini" data-inverted="">
      <i class="far fa-bug" data-fa-transform="grow-6 right-6"></i>
    </span>
  </a>
  {% endif %}

  <!-- How it works: check in `_data/talk_repo/yml` for an instance where doc_name is equal to the title of the current page -->
  {% for issue in site.data.talk_repo %}
    {% if issue.doc_name == page.file_name %}
      {% if issue.comments_issue %}
      {% assign comments_issue = true %}
      <a class="item noelink noul" href="https://github.com/diybiosphere/talk/issues/{{ issue.comments_issue }}#new_comment_field" target="_blank">
        <span data-tooltip="Add Comment in GitHub" data-variation="mini" data-inverted="">
          <i class="far fa-comment" data-fa-transform="grow-6 right-6"></i>
        </span>
      </a>

      <script type="text/javascript">DoGithubComments ("{{ site.github_comments_repository }}" ,"{{ issue.comments_issue }}");</script>

      {% endif %}
    {% endif %}
  {% endfor %}

  {% if comments_issue != true '%}
  <a class="item noelink noul" href="https://github.com/diybiosphere/talk/issues/new" target="_blank">
    <span data-tooltip="Open Discussion in GitHub" data-variation="mini" data-inverted="">
      <i class="far fa-comments" data-fa-transform="grow-6 right-6"></i>
    </span>
  </a>
  {% endif %}



</div>
