<header>
  <div class="header mar-no">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="{{ site.baseurl }}/">
        <img class="pure-img-responsive menu-heading-logo" alt="DIYbio Logo"
          src="{{ '/img/diybiosphere-w.png' | prepend: site.baseurl }}">
        {{ site.title }}
      </a>

      <ul class="pure-menu-list">
        
        {% include header-item.html title="PROJECTS" url="/projects/" %}
        
        {% include header-item.html title="LABS" url="/labs/" %}
        
        {% include header-item.html title="GROUPS" url="/groups/" %}
        
        {% include header-item.html title="STARTUPS" url="/startups/" %}
        
        {% include header-item.html title="INCUBATORS" url="/incubators/" %}
        
        {% include header-item.html title="NETWORKS" url="/networks/" %}
        
        {% include header-item.html title="ALL" url="/initiatives/" %}
        
        | {% include header-item.html title="ABOUT" url="/about/" %}
        
        | {% include header-item.html title="ENG" url="/en/" %}
        
      </ul>
    </div>
  </div>
</header>
