<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta http-equiv="Content-Language" content="{{site.active_lang}}">
  <link rel="icon" href="{{ '/favicon.ico' | prepend: site.baseurl | prepend: site.url }}" type="image/x-icon">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Semantic UI -->
  <!-- TODO include Source Code Pro font in local assets -->
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  {% css semantic/dist/semantic.min %}

  <!-- FONTS -->
  {% css vendor/octicons %}
  {% css vendor/cc-icons %}
  {% javascript vendor/solid %}
  {% javascript vendor/regular %}
  {% javascript vendor/fontawesome %}

  <!-- jQuery -->
  {% js vendor/jquery-2.2.2 %}
  {% js vendor/jquery.scrollNav.min %}

  <!-- TODO warn: injects jquery 3  {% javascript githubComments %} -->
  <!-- TODO warn: injects jquery 3  {% javascript githubCommentsEdit %} -->

  {% if page.layout == 'landing' %}
    <!-- OWL Carousel css (JS transcluded in default.html)-->
    {% css vendor/owl.carousel.min %}
    {% css vendor/owl.theme.default %}
  {% endif %}

  {% css main %}

  {% seo %}

<!-- ALGOLIA -->

  <!-- Algolia InstantSearch -->
  {% if page.layout == 'entries' %}
    {% js vendor/instantsearch %}
  {% endif %}

  <!-- Algolia DocSearch -->
  <!-- TODO probably unnecssary; remove? -->
  {% if page.layout == 'docs' %}
    <!-- TODO include algolia instantsearch.min.js in local assets -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
  {% endif %}

  <!-- Google analytics tracking code -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-78642734-1', 'auto');
    ga('send', 'pageview');
  </script>


</head>
