<header>
  <nav>
    <div class="ui huge fixed borderless menu">
      <!-- logo -->
      <div class="item">
        <a href="/">
        <img class="ui image" src="/assets/img/sphere-logo-alpha.png"></a>
      </div>

      <!-- search -->
      <div class="item">
        <div class="ui small left action fluid input" id="aa-input-container">
            <a class="noelink noul" href="/entries/">
              <button class="ui labeled icon black button" data-tooltip="Or do an Advanced Search" data-inverted="" data-position="bottom center" data-variation="tiny" >
                <i class="options icon"></i>
                Browse
              </button>
            </a>
            <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Quick search (name/location)" name="search" autocomplete="on" />
          </div>
      </div>
      <!-- right menu -->
      <div class="right menu">
        <!-- about -->
        <div class="ui dropdown item">
          About
          <i class="angle down icon"></i>
          <div class="menu">
            <a class="item" href="{{ '/about/diybiosphere' | prepend: site.baseUrl }}"><i class="far fa-info icon"></i>DIYbiosphere</a>
            <a class="item" href="{{ '/about/community' | prepend: site.baseUrl }}"><i class="far fa-heart icon"></i>Our Community</a>
            <a class="item" href="{{ '/about/philosophy' | prepend: site.baseUrl }}"><i class="far fa-compass icon"></i>Philosophy</a>
            <a class="item" href="{{ '/about/contact' | prepend: site.baseUrl }}"><i class="far fa-paper-plane icon"></i>Contact</a>
          </div>
        </div>
        <!-- contribute -->
        <div class="ui dropdown item">
          Contribute
          <i class="angle down icon"></i>
          <div class="menu">
            <a class="item" href="{{  '/docs/tutorials/add-entry' | prepend: site.baseUrl }}"><i class="far fa-plus-square icon"></i>Add Entry</a>
            <a class="item" href="{{  '/docs/tutorials/edit-content' | prepend: site.baseUrl }}"><i class="far fa-pen-square icon"></i>Edit Content</a>
            <a target="_blank" class="item" href="https://github.com/DIYbiosphere/sphere"><i class="fa fa-github icon"></i>Github (repo)</a>
            <a class="item" href="{{  '/docs/' | prepend: site.baseUrl }}"><i class="far fa-book icon"></i>Learn More (docs)</a>
            <a class="item" href="{{  '/support-us/' | prepend: site.baseUrl }}"><i class="far fa-thumbs-up icon"></i>Support Us</a>
          </div>
        </div>
        <a target="_blank" class="item" href="https://diybio.org">
          <img class="ui image tiny" src="https://diybiology.files.wordpress.com/2011/10/diybio-logo-black-90x60px.png">
        </a>
      </div> <!-- close  menu-->
    </div> <!-- end menu -->
  </nav>
</header>
