<div class="ui basic segment right floated">
  <div class="ui segments">
    <div class="ui padded segment">

      <!-- Logo or Name of Page -->
        <div>
          <h3>
            <a href="{{ page.website }}" target="_blank">
            {% if page.logo %}
              <img class="ui image small" src="{{ page.logo }}" />
            {% else %}
              {{ page.title }}
            </a>
            {% endif %}
          </h3>
        </div>

        <div class="ui hidden divider"></div>

      <!-- Since -->
        <div>
          {% if page.since %}
            <span data-tooltip="Established since"><i class="gift icon"></i></span>
            {{ page.since }}
          {% endif %}
        </div>

      <!-- Host organization -->
        <div>
          {% if page.host %}
          {% assign host = page.host %}
          {% if host.name %}
          <span data-tooltip="Host organization"><i class="home icon"></i></span>
              {% if host.web %} <a href="{{ page.host.web | site.baseUrl }}"> {% endif %}
            {{ host.name }}
          {% endif %}
          {% endif %}
        </div>

      <!-- Type of Organization -->
        <div>
          {% if page.type %}
            <span data-tooltip="Type of (host) organization"><i class="building icon"></i></span>
            {{ page.type }}
          {% endif %}
        </div>

      <!-- Affiliates
          {% if page.affiliates %}
          <div class="two wide column">
            <span data-tooltip="Important affiliates"><i class="university icon"></i></span>
          </div>

          <div class="fourteen wide column">
            {{ page.affiliates }}
          </div>
          {% endif %} -->

      <!-- Location -->
        <!-- Address -->
        <div>
          {% if page.address %}
            <span data-tooltip="Address + special directions"><i class="marker icon"></i></span>
            {{ page.address }}
            {% if page.directions %}
            <br>{{ page.directions }}
            {% endif %}
          {% endif %}
        </div>

        <!-- City and country -->
        <div>
          {% if page.city or page.state or page.country %}
            <span data-tooltip="Geographic location"><i class="world icon"></i></span>
            {{ page.city }}{% if page.city and page.state %}, {% endif %}
            {% if page.state %}
            {{ page.state }} {% endif %}
            {% if page.city or page.state %}<br> {% endif %}
            {% if page.country %}
            {{ page.country }}
            {% endif %}
          {% endif %}
        </div>




    </div>
    <div class="ui padded segment">
    <!-- Tags -->
      {% if page.tags %}
      <span data-tooltip="Tags"><i class="tags icon"></i></span>
      {{ page.tags | array_to_sentence_string }}
      {% endif %}
    </div>

    <div class="ui secondary segment">
      {% include social-icons.html %}
    </div>

  </div> <!-- close segments -->
</div> <!-- close basic segment -->
