{% if page.header %}
  <div class="ui fluid raised card overlapHeader">
{% else %}
  <div class="ui fluid raised card">
{% endif %}
  {% if page.logo %}
    <a class="ui spaced image noelink" href="{{ page.website }}" target="_blank">
      <!-- <img class="ui fluid image" src="{{ page.logo }}"/> -->
      <img src="{{ page.logo }}"/>
    </a>
  {% endif %}
  <div class="content">
    <div class="ui very relaxed divided list">
      <div class="item">
        {% include social-icons.html %}
      </div>

      <!-- Predecessor -->
      {% if page.predecessor %}
        <div class="item">
          <div class="header">Predecessor:</div>
          {{ page.predecessor | markdownify }}
        </div>
      {% endif %}

      <!-- Successor -->
      {% if page.successor %}
        <div class="item">
          <div class="header">Successor:</div>
          {{ page.successor | markdownify }}
        </div>
      {% endif %}

      <!-- start-date -->
      {% if page.start-date %}
        <div class="item">
          <div class="header">Start Date:</div>
          {{ page.start-date }}
        </div>
      {% endif %}

      <!-- End-Date -->
      {% if page.end-date %}
        <div class="item">
          <div class="header">End Date:</div>
          {{ page.end-date }}
        </div>
      {% endif %}

      <!-- Type -->
      {% if page.type-org %}
        <div class="item">
          <div class="header">Type:</div>
          {{ page.type-org }}
        </div>
      {% endif %}

      <!-- Status -->
      {% if page.status %}
        <div class="item">
          <div class="header">Status:</div>
          {{ page.status }}
        </div>
      {% endif %}

      <!-- Membership -->
      {% if page.membership %}
        <div class="item">
          <div class="header">Membership:</div>
          {{ page.membership }}
        </div>
      {% endif %}

      <!-- Founders -->
      {% if page.founders %}
        <div class="item">
          <div class="header">Founders:</div>
          {{ page.founders }}
        </div>
      {% endif %}

      <!-- Authors -->
      {% if page.authors %}
        <div class="item">
          <div class="header">Authors:</div>
          {{ page.authors | markdownify }}
        </div>
      {% endif %}

      {% if page.host-org %}
        <div class="item">
          <div class="header">Organization:</div>
          {% if page.host-org contains 'http' %}
            {{ page.host-org | markdownify }}
          {% else %}
            {% for lab in site.labs %}
              {% if lab.title==page.host-org %}
              <a class="noelink" href="{{ lab.url | prepend: site.baseurl }}">
                {{ lab.title }}
              </a>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      <!-- Affilliations -->
      {% if page.affilliations %}
        <div class="item">
          <div class="header">Affiliations:</div>
          {{ page.afilliations | markdownify }}
        </div>
      {% endif %}

      <!-- Number of members -->
      {% if page.size-members %}
        <div class="item">
          <div class="header">Size:</div>
          {{ page.size-members | markdownify }}
        </div>
      {% endif %}

      <!-- Area -->
      {% if page.area %}
        <div class="item">
          <div class="header">Area:</div>
          {{ page.area }}
        </div>
      {% endif %}

      <!-- Location -->
      <div class="item">
        <div class="header">
          Location <i class="marker icon"></i>:
        </div>
        <div class="ui list">
          <!-- Address -->
          <div class="item">
            {% if page.address %}
              {{ page.address }}{% if page.directions %}, {{ page.directions }}{% endif %}
            {% endif %}
          </div>
          <div class="item">
            <!-- City and country -->
            {% if page.city and page.state %}
              {{ page.city }}, {{ page.state }}
            {% elsif page.city %}
              {{ page.city }}
            {% else page.state %}
              {{ page.state }}
            {% endif %}
          </div>
          {% if page.country %}
            <div class="item">
              {{ page.country }}
            </div>
          {% endif %}
        </div>
      </div>
      <!-- //Location -->
      {% include keywords.html %}
    </div>
  </div>
</div>
