<div class="ui basic segment right floated compact infobox">
  <div class="ui segments">
    <div class="ui padded segment">

      <!-- Logo or Name of Page -->
        <div>
          <h3>
            <a class="noelink" href="{{ page.website }}" target="_blank">
            {% if page.logo %}
              <img class="ui small centered image" src="{{ page.logo }}" />
            {% else %}
              <h2 class="ui center aligned header">{{ page.title }}<h2>
            </a>
            {% endif %}
          </h3>
        </div>

      <!-- start-date -->
        <div>
          {% if page.start-date %}
            <span data-tooltip="Established start-date"><i class="gift grey icon"></i></span>
            {{ page.start-date }}
          {% endif %}
        </div>


        <div>
          {% if page.host-org  %}
            <span data-tooltip="Type of (host) organization"><i class="building grey icon"></i></span>
            {{ page.host-org | markdownify }}
          {% endif %}
        </div>

      <!-- Type of Organization -->
        <div>
          {% if page.type-org %}
            <span data-tooltip="Type of (host) organization"><i class="building grey icon"></i></span>
            {{ page.type-org }}
          {% endif %}
        </div>

      <!-- Affiliates
          {% if page.affiliates %}
          <div class="two wide column">
            <span data-tooltip="Important affiliates"><i class="university icon"></i></span>
          </div>

          <div class="fourteen wide column">
            {{ page.affiliates }}
          </div>
          {% endif %} -->

      <!-- Location -->
        <!-- Address -->
        <div>
          {% if page.address %}
            <span data-tooltip="Address + special directions">Location:</span>
            {{ page.address }}
            {% if page.directions %}
            <br>{{ page.directions }}
            {% endif %}
          {% endif %}
        </div>

        <!-- City and country -->
        <div>
          {% if page.city or page.state or page.country %}
            <span data-tooltip="Geographic location">Location:</i></span>
            {{ page.city }}{% if page.city and page.state %}, {% endif %}
            {% if page.state %}
            {{ page.state }} {% endif %}
            {% if page.city or page.state %}<br> {% endif %}
            {% if page.country %}
            {{ page.country }}
            {% endif %}
          {% endif %}
        </div>

    </div>
    <!-- Tags -->
    {% if page.tags !='' %}
    <div class="ui padded segment">
      <span data-tooltip="Tags"><i class="tags grey icon"></i></span>
        {% for tag in page.tags %}
        <div class="ui tiny label">{{ tag }}</div>
        {% endfor %}
    </div>
    {% endif %}

  </div> <!-- close segments -->
</div> <!-- close basic segment -->
