<div class="ui text small menu">
<div class="right menu">
  <div class="header item">
    <div class="content">
      Sort by:
      <div class="ui inline dropdown">
        <div class="text">A-Z</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Name </div>
          <div class="active item" data-text="A-Z">A-Z</div>
          <div class="item" data-text="Z-A">Z-A</div>
          <div class="header">Since </div>
          <div class="item" data-text="Earliest">earliest</div>
          <div class="item" data-text="Oldest">oldest</div>
        </div>
      </div>
    </div>
  </div>

  <div class="header item">
    <div class="content">
      Results per page:
      <div class="ui inline dropdown">
        <div class="text">20</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="active item" data-text="20">20</div>
          <div class="item" data-text="60">60</div>
          <div class="item" data-text="all">all</div>
        </div>
      </div>
    </div>
  </div>


  <div class="header item">View As:</div>
  <a class="active fitted item" data-vivaldi-spatnav-clickable="1">
    <i class="table icon"></i>
  </a>
  <a class="fitted item" data-vivaldi-spatnav-clickable="1">
    <i class="list layout icon"></i>
  </a>
  <a class="fitted item" data-vivaldi-spatnav-clickable="1">
    <i class="grid layout icon"></i>
  </a>


</div>
</div>
<div class="ui divider"></div>
