<div class="ui grid">

  <div class="ui one column row" style="background-color: white;">
    <div class="center aligned column xo padding top fourfold">
      <h1 class="ui center aligned header">Browse by Geography</h1>
    </div> <!-- header column -->
  </div> <!-- header row -->

  <div class="ui one column row" style="background-color: white;">
    <div class="center aligned column">
      <div class="ui container">
        <div class="ui input fluid">
          <input id="search-input" type="text" autocomplete="off" spellcheck="false" autocorrect="off" placeholder="Search by name or city."/>
        </div> <!-- input -->
      </div>
    </div>
  </div> <!-- row -->
  <div class="row" style="background-color: white;">
      <div id="hits"></div>
  </div>
  <div class="row" style="background-color: white;">
      <div id="map"></div>
  </div>
</div> <!-- grid -->

  <!-- Hit template -->
  <script type="text/template" id="hits-template">
    {{#hits}}
      <div class="ui horizontal relaxed list">
        <div class="item">
          <div class="header">{{{ _highlightResult.title.value }}} {{ distance }}</div>
           {{{ _highlightResult.city.value }}}, {{{ _highlightResult.country.value }}}
        </div>
       </div>
    {{/hits}}
  </script>
  <!-- /Hit template -->


  <!-- No-Results template -->
  <script type="text/template" id="no-results-template">
    <div id="no-results-message">
      <p>We didn't find any airports in this location.</p>
    </div>
  </script>
  <!-- /No-Results template -->
