<header>
  <nav>
    <div class="ui grid container">

      <div class="computer only row"> <!-- Layout for computers only -->
        <div class="ui fluid large borderless blue menu">
          {% include nav/logo.html %}
          {% include nav/browse-all.html %}
          <div class="item">
            <div class="ui fluid transparent icon input"> <!-- Algolia autocomplete search for computer. Settings at `assets/hs/autocomplete.es6` -->
              <input type="text" id="aa-search-input" class="aa-input-search" placeholder="Search DIYbio initiatives" autocomplete="on" />
              <i class="search icon"></i>
            </div>
          </div>
          <div class="right menu">
            <div class="ui dropdown item">
              <b>ABOUT</b>
              <i class="angle down icon"></i>
              <div class="menu">
                {% include nav/about.html %}
              </div>
            </div>
            <div class="ui dropdown item">
              <b>CONTRIBUTE</b>
              <i class="angle down icon"></i>
              <div class="menu">
                {% include nav/contribute.html %}
              </div>
            </div>
          </div>
        </div>
          <a href="https://forms.gle/9yAv3AFjjkvXKrf77" target = "_blank" ><button class="ui green big button">Add Entry</button></a>
          <a href="https://forms.gle/hm3PwHBFBTn3a6sk9" target = "_blank" ><button class="ui blue big button">Monthly Newsletter</button></a>
      </div>

      <div class="tablet only row"> <!-- Layout for tablets only -->
        <div class="ui fluid large borderless blue menu">
          {% include nav/logo.html %}
          {% include nav/browse-all.html %}
          <div class="item">
            <div class="ui fluid transparent icon input"> <!-- Algolia autocomplete search for tablet. Settings at `assets/hs/autocomplete.es6` -->
              <input type="search" id="aa-search-input-tablet" class="aa-input-search" placeholder="Search DIYbio initiatives" name="search" autocomplete="on" />
              <i class="search icon"></i>
            </div>
          </div>
          {% include nav/hamburger.html %}
        </div>
      </div>

      <div class="mobile only row"> <!-- Layout for mobiles only -->
        <div class="ui fluid borderless blue menu xo marginless">
          {% include nav/logo.html %}
          {% include nav/browse-all.html %}
          {% include nav/hamburger.html %}
        </div>
        <div class="ui fluid borderless menu xo marginless center aligned">
          <div class="item">
            <div class="ui fluid transparent icon input">  <!-- Algolia autocomplete search for mobile. Settings at `assets/hs/autocomplete.es6` -->
              <input type="search" id="aa-search-input-mobile" class="aa-input-search" placeholder="Search DIYbio initiatives" name="search" autocomplete="on" />
              <i class="search icon"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </nav>
</header>
