<!-- Modal -->
<div class="modal fade" id="omnisearch-modal" tabindex="-1" role="dialog" aria-labelledby="Google's custom site search">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-search pull-left"></i>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center">Site search</h4>
      </div>
      <div class="modal-body">
        <div id="cse" style="width:100%;">Loading...</div>
      </div>
    </div>
  </div>
</div>