<div class="ui padded grid">
  <div class="four column row">
    <div class="column">
      <label><i class="folder icon"></i>
        Collection</h4>
      </label>
      <button class="ui toggle circular icon button" data-vivaldi-spatnav-clickable="1">Vote</button>
    </div>
    <div class="column">
      <label><i class="folder icon"></i>
        Type of Initiative</h4>
      </label>
      <div class="ui checkbox">
        <input type="checkbox" name="community">
        <label>Community/Grassroots</label>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" name="school">
        <label>K-12 School</label>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" name="university">
        <label>College/University</label>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" name="museum">
        <label>Museum</label>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" name="for-profit">
        <label>For-Profit Organization</label>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" name="non-profit">
        <label>Non-Profit/NGO</label>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" name="governamental">
        <label>Governamental organization</label>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" name="specify">
        <label>Other</label>
      </div>
    </div>
    <div class="column">

    </div>
    <div class="column">
      <button class="ui black button" data-vivaldi-spatnav-clickable="1">
        <i class="erase icon"></i>
        Reset filters
      </button>
    </div>
  </div>

</div> <!-- close grid -->
