<!-- Modal -->
<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="Advanced Search for Entries">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-sliders pull-left"></i>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center">Advanced Search for Entries</h4>
      </div>
      <form id="advanced-search" method="GET">
        <div class="modal-body">
          <div class="row pad-btm">
            <div class="form-inline">
              <div class="col-sm-2">
                <label> <i class="octicon octicon-pulse"></i> Status: </label>
              </div>
              <div class="col-sm-3">
                <div class="checkbox"><label><input name="status" type="checkbox" value="active"> Active</label></div>
                <span class="pad-lft"></span>
                <div class="checkbox"><label><input name="status" type="checkbox" value="inactive"> Inactive</label></div>
              </div>
              <div class="col-sm-3">
                <!--<label> <i class="octicon octicon-clock"></i> Last updated: </label>
                <select id="lastUpdated" name="lastUpdated" class="form-control input-sm">
                  <option value="">Anytime</option>
                </select>-->
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label> <i class="octicon octicon-gift"></i> Established: </label>
                  <input id="establishedIni" name="establishedIni" class="form-control input-sm" placeholder="yyyy" style="width:60px" />
                  &mdash;
                  <input id="establishedEnd" name="establishedEnd" class="form-control input-sm" placeholder="yyyy" style="width:60px" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="row pad-btm">
            <div class="form-inline">
              <div class="col-sm-2">
                <label class="text-strong"> <i class="octicon octicon-zap"></i> Entry collection: </label>
              </div>
              <div class="col-sm-2">
                <div class="checkbox"><label><input name="collection" type="checkbox" value="projects"> Projects</label></div>
              </div>
              <div class="col-sm-2">
                <div class="checkbox"><label><input name="collection" type="checkbox" value="labs"> Labs</label></div>
              </div>
              <div class="col-sm-2">
                <div class="checkbox"><label><input name="collection" type="checkbox" value="incubators"> Incubators</label></div>
              </div>
              <div class="col-sm-3">
                <div class="checkbox"><label><input name="collection" type="checkbox" value="startups"> Startups</label></div>
              </div>
              <div class="col-sm-2">
                <div class="checkbox"><label><input name="collection" type="checkbox" value="groups"> Groups</label></div>
              </div>
              <div class="col-sm-2">
                <div class="checkbox"><label><input name="collection" type="checkbox" value="networks"> Networks</label></div>
              </div>
              <div class="col-sm-2">
                <div class="checkbox"><label><input name="collection" type="checkbox" value="events"> Events</label></div>
              </div>
              <div class="col-sm-2">
                <div class="checkbox"><label><input name="collection" type="checkbox" value="others"> Others</label></div>
              </div>
            </div>
          </div>
          
          <div class="row pad-btm">
            <div class="form-inline">
              <div class="col-sm-2">
                <label class="text-strong"> <i class="octicon octicon-gear"></i> Initiative type: </label> &nbsp;
              </div>
              <div class="col-sm-2">
                <div class="checkbox"><label><input name="type" type="checkbox" value="communnity"> Communnity</label></div>
              </div>
              <div class="col-sm-3">
                <div class="checkbox"><label><input name="type" type="checkbox" value="primary/secondary school"> Primary/Secondary School</label></div>
              </div>
              <div class="col-sm-2">
                <div class="checkbox"><label><input name="type" type="checkbox" value="non-profit/ngo"> Non-profit/NGO</label></div>
              </div>
              <div class="col-sm-2">
                <div class="checkbox"><label><input name="type" type="checkbox" value="museum"> Museum</label></div>
              </div>
              <div class="col-sm-2">
                <div class="checkbox"><label><input name="type" type="checkbox" value="other"> Other</label></div>
              </div>
              <div class="col-sm-3">
                <div class="checkbox"><label><input name="type" type="checkbox" value="university/college"> University/College</label></div>
              </div>
              <div class="col-sm-2">
                <div class="checkbox"><label><input name="type" type="checkbox" value="for-profit"> For-profit</label></div>
              </div>
              <div class="col-sm-3">
                <div class="checkbox"><label><input name="type" type="checkbox" value="state-local government"> State-Local Government</label></div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="form-inline">
              <div class="col-sm-2">
                <label class="text-strong"> <i class="octicon octicon-globe"></i> Location: </label>
              </div>
              <div class="col-sm-3">
                <label> <i class="fa fa-clock"></i> by Country: </label>
                <select id="country" name="country" class="form-control input-sm">
                  <option value="">&mdash;</option>
                </select>
              </div>
              <div class="col-sm-3">
                <label> <i class="octicon octicon-tag"></i> by Keyword: </label>
                <select id="tags" name="tags" class="form-control input-sm">
                  <option value="">&mdash;</option>
                </select>
              </div>
              <div class="col-sm-3">
                <label> <i class="fa fa-clock"></i> by Region: </label>
                <select id="region" name="region" class="form-control input-sm">
                  <option value="">&mdash;</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light">
            Help <i class="fa fa-question"></i>
          </button>
          <button type="submit" class="btn btn-dark">
            Search <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>