<!--<form class="search-form" onsubmit="return false;" novalidate>
	<input id="algolia-search" name="algolia-search" class="search-field" type="search" placeholder="Search Database">
</form>-->



<form novalidate="novalidate" onsubmit="return false;" class="searchbar sbx-custom">
  <div role="search" class="sbx-medium__wrapper">
    <input id="algolia-search" name="algolia-search" type="search" placeholder="Search your website" autocomplete="off" required="required" class="sbx-custom__input">
    <button type="submit" title="Submit your search query." class="sbx-custom__submit">
        <i class="fa fa-search"></i>
    </button>

  </div>
</form>
