<div class="sidebar" role="navigation">
  <ul data-spy="affix" data-offset-top="90" data-offset-bottom="268">
    <h4> DOCUMENTATION </h4>

  <li class="side-menu-title"> ABOUT </li>
  <li><a href="{{ '/docs/about/overview/' | prepend: site.baseurl }}" class="side-menu-link">Overview</a></li>
  <li><a href="{{ '/docs/about/community/' | prepend: site.baseurl }}" class="side-menu-link">Development Community</a></li>
  <li><a href="{{ '/docs/about/coc/' | prepend: site.baseurl }}" class="side-menu-link">Code of Conduct</a></li>
  <li><a href="{{ '/docs/about/copyright/license/' | prepend: site.baseurl }}" class="side-menu-link">Copyright Terms</a></li>
  <li><a href="{{ '/docs/about/copyright/cla/' | prepend: site.baseurl }}" class="side-menu-link">License Agreement</a></li>
  <li><a href="{{ '/docs/about/contact/' | prepend: site.baseurl }}" class="side-menu-link">Contact</a></li>

    <li class="side-menu-title"> HELP </li>
    <li><a href="{{ '/docs/help/getting-started/' | prepend: site.baseurl }}" class="side-menu-link">Getting started</a></li>
    <li><a href="{{ '/docs/help/contributing/' | prepend: site.baseurl }}" class="side-menu-link">Contributing guide</a></li>
    <li><a href="{{ '/docs/help/basics/' | prepend: site.baseurl }}" class="side-menu-link">Basics</a></li>
    <li><a href="{{ '/docs/help/tutorials/' | prepend: site.baseurl }}" class="side-menu-link">Tutorials</a></li>
    <li><a href="{{ '/docs/help/faq/' | prepend: site.baseurl }}" class="side-menu-link">FAQ</a></li>

    <li class="side-menu-title"> QUICK RESOURCES </li>
    <li><a href="{{ '/docs/help/eli5-guide/' | prepend: site.baseurl }}" class="side-menu-link">Eli5 Guide</a></li>
    <li><a href="{{ '/docs/help/glossary/' | prepend: site.baseurl }}" class="side-menu-link">Glossary</a></li>
    <li><a href="{{ '/docs/help/hints/' | prepend: site.baseurl }}" class="side-menu-link">Hints</a></li>
    <li><a href="{{ '/docs/help/sitemap/' | prepend: site.baseurl }}" class="side-menu-link">Site Map</a></li>

  </ul>

</div>
