<div class="ui fluid accordion vertical menu">
  <!-- DocSearch Input -->
  <div class="item">
    <div class="ui left icon fluid input" role="search">
      <input id="docsearch" type="search" placeholder="Search Documentation">
      <i class="search icon"></i>
    </div>
  </div>
  <!-- Introduction -->
  <div class="item">
    <div class="title"><i class="dropdown icon"></i> <b><i class="flag outline icon"></i> Introduction</b></div>
    <div class="content menu">
      <a class="item" id="sb_overview" href="/docs/introduction/overview/">Overview</a>
      <a class="item" id="sb_getting-started" href="/docs/introduction/getting-started/">Getting Started</a>
    </div>
  </div>
  <!-- About -->
  <div class="item">
    <div class="title"><i class="dropdown icon"></i>
       <b><i class="info circle icon"></i> About Us</b></div>
      <div class="content menu">
        <a class="item" id="sb_organization" href="/docs/about/organization/">Organization</a>
        <a class="item" id="sb_community" href="/docs/about/community/">Development Community</a>
        <a class="item" id="sb_coc" href="/docs/about/coc/">Code of Conduct</a>
        <a class="item" id="sb_communication" href="/docs/about/communication/">Communication</a>
      </div>
  </div>
  <!-- Copyright -->
  <div class="item">
    <div class="title"><i class="dropdown icon"></i>
       <b><i class="copyright icon"></i>Copyright</b></div>
      <div class="content menu">
        <a class="item" id="sb_terms-of-use" href="/docs/copyright/terms-of-use/">Terms of (re)use</a>
        <a class="item" id="sb_contributor-terms" href="/docs/copyright/contributor-terms/">Contributor Terms</a>
        <a class="item" id="sb_cc0" href="/docs/copyright/mit/">Library Copyright (CC0)</a>
        <a class="item" id="sb_mit" href="/docs/copyright/cc0/">Software Copyright (MIT)</a>
      </div>
  </div>
  <!-- Basics -->
  <div class="item">
    <div class="title"><i class="dropdown icon"></i>
      <b><i class="puzzle icon"></i>The Basics</b></div>
    <div class="content menu">
      <a class="item" id="sb_library" href="/docs/basics/library/">Library</a>
      <a class="item" id="sb_development" href="/docs/basics/software/">Software</a>
      <a class="item" id="sb_documentation" href="/docs/basics/documentation/">Documentation</a>
      <a class="item" id="sb_design" href="/docs/basics/design/">Design</a>
    </div>
  </div>
  <!-- Support -->
  <div class="item">
    <div class="title"><i class="dropdown icon"></i>
      <b><i class="life ring icon"></i>Support</b></div>
    <div class="content menu">
      <a class="item" id="sb_contributing" href="/docs/support/contributing/">Contributing Guide</a>
      <a class="item" id="sb_workflow" href="/docs/support/workflow/">Ticket Workflow</a>
      <a class="item" id="sb_eli5" href="/docs/support/eli5/">ELI5 Guide</a>
      <a class="item" id="sb_faq" href="/docs/support/faq/">FAQ</a>
      <a class="item" id="sb_get-help" href="/docs/support/help/">Getting Help</a>
    </div>
  </div>
  <!-- Tutorials -->
  <div class="item">
    <div class="title"><i class="dropdown icon"></i>
      <b><i class="book icon"></i>Tutorials</b></div>
    <div class="content menu">
      <a class="item" id="sb_add-entry" href="/docs/tutorials/add-entry/">Adding Entries</a>
      <a class="item" id="sb_edit-entry" href="/docs/tutorials/edit-entry/">Editing Entries</a>
      <a class="item" id="sb_note-copyright" href="/docs/tutorials/noting-copyright/">Noting Copyright</a>
      <a class="item" id="sb_install" href="/docs/tutorials/install/">Installing Locally</a>
      <a class="item" id="sb_using-atom" href="/docs/tutorials/using-atom/">Using Atom</a>
      <a class="item" id="sb_using-github" href="/docs/tutorials/using-github/">Using Github</a>
    </div>
  </div>
  <!-- Resources -->
  <div class="item">
    <div class="title"><i class="dropdown icon"></i>
      <b><i class="pin icon"></i>Resources</b></div>
    <div class="content menu">
      <a class="item" id="sb_glossary" href="/docs/resources/glossary/">Sphere Glossary</a>
      <a class="item" id="sb_hints" href="/docs/resources/hints/">Hints</a>
      <a class="item" id="sb_markdown-syntax" href="/docs/resources/markdown-syntax/">Markdown Syntax</a>
      <a class="item" id="sb_jekyll-syntax" href="/docs/resources/jekyll-syntax/">Jekyll Syntax</a>
      <a class="item" id="sb_sphere-syntax" href="/docs/resources/sphere-syntax/">Sphere Syntax</a>
    </div>
  </div>
  <!-- Updates -->
  <div class="item">
    <div class="title"><i class="dropdown icon"></i>
      <b><i class="announcement icon"></i>Updates</b></div>
    <div class="content menu">
      <a class="item" id="sb_blog" href="/docs/updates/blog/">Blog</a>
      <a class="item" id="sb_roadmap" href="/docs/updates/roadmap/">Roadmap</a>
      <a class="item" id="sb_changelog" href="/docs/updates/changelog/">Changelog</a>
    </div>
  </div>
</div> <!-- close accordion menu -->
