<ul class="side-menu">

  <h3> Documentation </h3>

  <li class="side-menu-title"> About </li>
  <li><a href="{{ '/about/overview/' | prepend: site.baseurl }}" class="side-menu-link">Overview</a></li>
  <li><a href="{{ '/about/organization/' | prepend: site.baseurl }}" class="side-menu-link">Organization</a></li>
  <li><a href="{{ '/about/coc/' | prepend: site.baseurl }}" class="side-menu-link">Code of Conduct</a></li>
  <li><a href="{{ '/about/copyright/' | prepend: site.baseurl }}" class="side-menu-link">Copyright</a></li>
  <li><a href="{{ '/about/contact/' | prepend: site.baseurl }}" class="side-menu-link">Contact</a></li>

  <li class="side-menu-title"> News </li>
  <li><a href="{{ '/news/changelog/' | prepend: site.baseurl }}" class="side-menu-link">Releases</a></li>
  <li><a href="{{ '/news/roadmap/' | prepend: site.baseurl }}" class="side-menu-link">Roadmap</a></li>
  <li><a href="{{ '/news/blog/' | prepend: site.baseurl }}" class="side-menu-link">Blog</a></li>

  <li class="side-menu-title"> Help </li>
  <li><a href="{{ '/help/getting-started/' | prepend: site.baseurl }}" class="side-menu-link">Getting started</a></li>
  <li><a href="{{ '/help/contributing/' | prepend: site.baseurl }}" class="side-menu-link">Contributing guide</a></li>
  <li><a href="{{ '/help/basics/' | prepend: site.baseurl }}" class="side-menu-link">Basics</a></li>
  <li><a href="{{ '/help/tutorials/' | prepend: site.baseurl }}" class="side-menu-link">Tutorials</a></li>
  <li><a href="{{ '/help/faq/' | prepend: site.baseurl }}" class="side-menu-link">FAQ</a></li>

  <li class="side-menu-title"> Quick Resources </li>
  <li><a href="{{ '/help/sitemap/' | prepend: site.baseurl }}" class="side-menu-link">Site map</a></li>
  <li><a href="{{ '/help/cheatsheets/' | prepend: site.baseurl }}" class="side-menu-link">Cheat-sheets</a></li>
  <li><a href="{{ '/help/hints/' | prepend: site.baseurl }}" class="side-menu-link">Hints</a></li>

</ul>
