  <!-- DocSearch Input -->
    <a class="ui sub header" href="/docs/"><h3>Documentation</h3></a>
    <div class="ui icon fluid input xo margin top" role="search">
      <input id="docsearch" type="search" placeholder="Search Docs">
      <i class="search icon"></i>
    </div>
  <div class="ui fluid small text vertical menu">

  <!-- Basics -->
    <div class="ui sub header xo padding top"><h5>The Basics</h5></div>
        <a class="item" id="sb_library" href="/docs/basics/entries/">Entries</a>
        <a class="item" id="sb_development" href="/docs/basics/software/">Software</a>
        <a class="item" id="sb_documentation" href="/docs/basics/documentation/">Documentation</a>
        <a class="item" id="sb_design" href="/docs/basics/design/">Design</a>
  <!-- Support -->
    <div class="ui sub header xo padding top"><h5>Guides</h5></div>
        <a class="item" id="sb_contributing" href="/docs/guides/contributing/">Contributing</a>
        <a class="item" id="sb_contributing" href="/docs/guides/writing/">Writing</a>
        <a class="item" id="sb_workflow" href="/docs/guides/workflow/">Ticket Workflow</a>
        <a class="item" id="sb_eli5" href="/docs/guides/eli5/">GitHub ELI5</a>
  <!-- Tutorials -->
    <div class="ui sub header xo padding top"><h5>Tutorials</h5></div>
        <a class="item" id="sb_add-entry" href="/docs/tutorials/add-entry/">Adding Entries</a>
        <a class="item" id="sb_edit-content" href="/docs/tutorials/edit-content/">Editing Entries</a>
        <a class="item" id="sb_note-copyright" href="/docs/tutorials/noting-copyright/">Noting Copyright</a>
        <a class="item" id="sb_install" href="/docs/tutorials/install/">Installing Locally</a>
    <!-- Help -->

    <div class="ui sub header xo padding top"><h5>Help<h/5></div>
        <a class="item" id="sb_add-entry" href="/docs/help/glossary/">Glossary</a>
        <a class="item" id="sb_edit-content" href="/docs/help/faq/">FAQ</a>


</div> <!-- close menu -->
