<ul class="side-menu">

  <h3> Documentation </h3>
  
  <li class="side-menu-title"> About </li>
  <li><a href="#" class="side-menu-link">Introduction</a></li>
  <li><a href="#" class="side-menu-link">Organization</a></li>
  <li><a href="#" class="side-menu-link">Copyright</a></li>
  <li><a href="#" class="side-menu-link">Contact</a></li>
  
  <li class="side-menu-title"> News </li>
  <li><a href="#" class="side-menu-link">Blog</a></li>
  <li><a href="#" class="side-menu-link">Releases</a></li>
  <li><a href="#" class="side-menu-link">Road map</a></li>
  
  <li class="side-menu-title"> Help </li>
  <li><a href="{{ '/help/getting-started/' | prepend: site.baseurl }}" class="side-menu-link">Getting started</a></li>
  <li><a href="{{ '/contributing/' | prepend: site.baseurl }}" class="side-menu-link">Contributing guide</a></li>
  <li><a href="#" class="side-menu-link">Basics</a></li>
  <li><a href="#" class="side-menu-link">Tutorials</a></li>
  <li><a href="{{ '/help/faq/' | prepend: site.baseurl }}" class="side-menu-link">FAQ</a></li>
  
  <li class="side-menu-title"> Resources </li>
  <li><a href="#" class="side-menu-link">Glossary</a></li>
  <li><a href="#" class="side-menu-link">Site map</a></li>
  <li><a href="#" class="side-menu-link">Tutorials</a></li>
    
</ul>