{% if page.github %} <a href="{{ page.github }}"> <i class="fa fa-github"></i> </a> &nbsp; {% endif %}
{% if page.email %} <a href="mailto:{{ page.email }}"> <i class="fa fa-envelope-o"></i> </a> &nbsp; {% endif %}
{% if page.rss %} <a href="{{ page.rss }}"> <i class="fa fa-rss"></i> </a> &nbsp; {% endif %}
{% if page.irc %} <a href="{{ page.irc }}"> IRC </a> &nbsp; {% endif %}
{% if page.irc %} <a href="{{ page.irc }}"> Wiki </a> &nbsp; {% endif %}
{% if page.twitter %} <a href="{{ page.twitter }}"> <i class="fa fa-twitter"></i> </a> &nbsp; {% endif %}
{% if page.facebook %} <a href="{{ page.facebook }}"> <i class="fa fa-facebook"></i> </a> &nbsp; {% endif %}
{% if page.meetup %} <a href="{{ page.meetup }}"> Meetup </a> &nbsp; {% endif %} <!-- not in fonawesome -->
{% if page.slack %} <a href="{{ page.slack }}"> <i class="fa fa-slack"></i> </a> &nbsp; {% endif %}
{% if page.instagram %} <a href="{{ page.instagram }}"> <i class="fa fa-instagram"></i> </a> &nbsp; {% endif %}
{% if page.flickr %} <a href="{{ page.flickr }}"> <i class="fa fa-flickr"></i> </a> &nbsp; {% endif %}
{% if page.vimeo %} <a href="{{ page.vimeo }}"> <i class="fa fa-vimeo"></i> </a> &nbsp; {% endif %}
{% if page.youtube %} <a href="{{ page.youtube }}"> <i class="fa fa-youtube"></i> </a> &nbsp; {% endif %}
{% if page.gitter %} <a href="{{ page.gitter }}"> {% include gitter.html %} </a> &nbsp; {% endif %} <!-- not in fonawesome -->
{% if page.hackpad %} <a href="{{ page.hackpad }}"> Hackpad </a> &nbsp; {% endif %} <!-- not in fonawesome -->
{% if page.trello %} <a href="{{ page.trello }}"> <i class="fa fa-trello"></i> </a> &nbsp; {% endif %}
{% if page.pinterest %} <a href="{{ page.pinterest }}"> <i class="fa fa-pinterest"></i> </a> &nbsp; {% endif %}
{% if page.google+ %} <a href="{{ page.google+ }}"> <i class="fa fa-google-plus"></i> </a> &nbsp; {% endif %}
{% if page.linkedin %} <a href="{{ page.linkedin }}"> <i class="fa fa-linkedin"></i> </a> &nbsp; {% endif %}
{% if page.forum %} <a href="{{ page.forum }}"> <i class="fa fa-comments-o"></i> </a> &nbsp; {% endif %}
{% if page.mailing_list %} <a href="{{ page.mailing_list }}"> <i class="fa fa-envelope-o"></i> </a> {% endif %}