{% if page.website %}
  <a class="noelink" href="{{ page.website }}" target="_blank">
    <span data-tooltip="Go to Homepage" data-inverted="">
      <i class="linkify link large grey icon"></i>
    </span>
  </a>
{% endif %}

{% if page.email %}
  <a class="noelink" href="mailto:{{ page.email }}" target="_blank">
    <span data-tooltip="Send an email">
      <i class="mail link large grey icon"></i>
    </span>
  </a>
{% endif %}

{% if page.forum %}
  <a class="noelink" href="{{ page.forum }}" target="_blank">
    <span data-tooltip="Join the forum">
      <i class="talk link large grey icon"></i>
    </span>
  </a>
{% endif %}

{% if page.github %}
  <a class="noelink" href="{{ page.github }}" target="_blank">
    <span data-tooltip="Star/Follow on GitHub">
      <i class="github link large grey icon"></i>
    </span>
  </a>
{% endif %}


{% if page.rss %}
  <a class="noelink" href="{{ page.rss }}" target="_blank">
    <span data-tooltip="Subscribe to RSS">
      <i class="rss link large grey icon"></i>
    </span>
  </a>
{% endif %}

{% if page.twitter %}
  <a class="noelink" href="{{ page.twitter }}" target="_blank">
    <span data-tooltip="Follow on Twitter">
      <i class="twitter link large grey icon"></i>
    </span>
  </a>
{% endif %}

{% if page.facebook %}
  <a class="noelink" href="{{ page.facebook }}" target="_blank">
    <span data-tooltip="Follow on Facebook">
      <i class="facebook link large grey icon"></i>
    </span>
  </a>
{% endif %}

{% if page.slack %}
  <a class="noelink" href="{{ page.slack }}" target="_blank">
    <span data-tooltip="Slack">
      <i class="slack link large grey icon"></i>
    </span>
  </a>
{% endif %}

{% if page.instagram %}
  <a class="noelink" href="{{ page.instagram }}" target="_blank">
    <span data-tooltip="Follow on Instagram">
      <i class="instagram link large grey icon"></i>
    </span>
  </a>
{% endif %}

{% if page.flickr %}
  <a class="noelink" href="{{ page.flickr }}" target="_blank">
    <span data-tooltip="Follow on Flickr">
      <i class="flickr link large grey icon"></i>
    </span>
  </a>
{% endif %}

{% if page.vimeo %}
  <a class="noelink" href="{{ page.vimeo }}" target="_blank">
    <span data-tooltip="Follow on Vimeo">
      <i class="vimeo link large grey icon"></i>
    </span>
  </a>
{% endif %}

{% if page.youtube %}
<a class="noelink" href="{{ page.youtube }}" target="_blank">
  <span data-tooltip="Subscribe on YouTube">
    <i class="youtube link large grey icon"></i>
  </span>
</a>{% endif %}

<!-- {% if page.gitter %}
  <button class="infobox-icon" data-toggle="tooltip" data-placement="top" title="Gitter">
    <a href="{{ page.gitter }}">{% svgicon gitter %}</a>
  </button>
{% endif %} -->

{% if page.trello %}
<a class="noelink" href="{{ page.trello }}" target="_blank">
  <span data-tooltip="Follow on Trello">
    <i class="trello link large grey icon"></i>
  </span>
</a>{% endif %}

{% if page.pinterest %}
<a class="noelink" href="{{ page.pinterest }}" target="_blank">
  <span data-tooltip="Follow on Pinterest">
    <i class="pinterest link large grey icon"></i>
  </span>
</a>{% endif %}

{% if page.google+ %}
  <a class="noelink" href="{{ page.google+ }}" target="_blank">
    <span data-tooltip="Follow on google +">
      <i class="google plus link large grey icon"></i>
    </span>
  </a>
{% endif %}

{% if page.linkedin %}
  <a class="noelink" href="{{ page.linkedin }}" target="_blank">
    <span data-tooltip="Connect on Linkedin">
      <i class="linkedin link large grey icon"></i>
    </span>
  </a>
{% endif %}
