.breadcrumbs {
  font-family: $monospace;
  padding: $pad 0em 0em 0em;

  a, {
    color: black;
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: -0.9px;
    padding: 0.5em;

    .octicon {
      font-size: 0.9em;
    }
  }
}
