.breadcrumbs {
  font-family: $monospace;
  font-size: 0.85em;
  letter-spacing: -0.5px;
  a {
    color: $primary;

    .octicon {
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
   li {
     padding-bottom: 5px;
   }

  }

.crumbs {
  text-align: left;
}

.commits {
  text-align: right;
}
