.footer {
  margin-top: 3em;
  margin-left: 0;
  background-color: $default;
  padding-top: 1.5em;
  text-align: left;
  a {
    text-decoration: none;
    color: $primary;
  }

  a:hover {
    text-decoration: none;
    color: $hyperlink;
  }
}

.badges {
  background-color: $light-gray;
  border-bottom: 2px solid $primary;
  text-align: center;

}

.help-links {
  a {
    color: $primary;
  }

  ul {
    list-style: none;
  }
}

.legal-footer {
  background-color: $primary;
  color: $default;
  a {
    color: $default;
  }

  ul {
    list-style: none;

    li {
      display: inline;
      text-align: left;
    }
  }

}

.copyright {
  float: right;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
