.navbar {
  background-color: #FFFFFF;
  font-family: $fonts;
  font-weight: 600;
  min-height: 90px;
  line-height: 3em;
  border-bottom: black solid 3px;
}

.navbar .navbar-nav ul {
      vertical-align: middle;
}

.navbar .navbar-nav li a {
  color: #000000;
  text-transform: uppercase;
  line-height: 3em

}

.navbar .navbar-nav li a:hover {
  color: $secondary;
  text-decoration: none;
}

navbar .navbar-nav li a .caret {
  color: $warm-gray;
}

.omnisearch {
  height: 30px;
  .input-icon-left {
    padding-top: 15px !important;
  }
  .input-icon-right {
    padding-top: 15px !important;
  }
}

.menu-heading-logo {
  width: 3.5em;
  margin-bottom: -1em;
  margin-top: -1.4em;
  margin-right: 0em;
}

.logo {
  width: 110px;
  vertical-align: middle;
}

/*
* Overwrite default values
*/
#tipue_search_input {
  color: black;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
}
