.infobox {
  font-family: $fonts;
  border: 0.5px solid;
  padding: 0em 2em;
  margin: 1em 2em;
}

.infobox p {
  display: inline;
}

.infobox-title {
  text-align: center;
  font-weight: 600;
}

.infobox-content {
  margin-top: 1em;
  text-align: left;
}

.infobox-item {
  padding: .2em;
  line-height: 130%;
  color: #B0CADB;
}
