.infobox {
  font-family: $fonts;
  width: 300px;
  float: right;
  margin: 0 1em;

  .octicon-link-external {
    padding-left: 2px;
    vertical-align: top;
    color: $warm-gray;
    font-size: 12px;
  }

  .octicon-link {
    padding-left: 2px;
    vertical-align: top;
    padding-top: 2px;
  }
}

.datafields {
    border: 1px solid $primary;
    padding: 0.6em;
}

.keywords {
    border-bottom: 1px solid $primary;
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;
    padding: 0.6em;
}

.entry-logo {
  max-height: 80px;
  max-width: 160px;
}
.infobox p {
  display: inline;
}

.infobox-title {
  text-align: center;
  font-weight: 600;
}

.infobox-icon {
  border: 0;
  background-color: $default;
  padding: 0 5px 0 0;
}
