.notice {
  padding: 1em 1em;
  margin: 1em 0;
}

.notice.tldr {
  border-left: 6px solid #34AE5D;
  color: #34AE5D;
}

.notice.warning {
  border-left: 6px solid #d35043;
  color: #d35043;
}

.notice.note {
  border-left: 6px solid #1d9bce;
  color: #1d9bce;
}

.notice.eli5 {
  border-left: 6px solid #EB804D;
  color: #EB804D;
}

.notice.tip {
  border-left: 6px solid #A44CC9;
  color: #A44CC9;
}