.notice {
  padding: 0.5em 0.5em 0.25em;
  margin: 1em 0em;
  border-top: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  border-right: solid 1px $light-gray;
}

.notice-text {
  color: $medium-gray;
}
.notice.tldr {
  border-left: 6px solid $green-notice;
  color: $green-notice;
}

.notice.warning {
  border-left: 6px solid $red-notice;
  color: $red-notice;
}

.notice.note {
  border-left: 6px solid $blue-notice;
  color: $blue-notice;
}

.notice.eli5 {
  border-left: 6px solid $orange-notice;
  color: $orange-notice;
}

.notice.tip {
  border-left: 6px solid $purple-notice;
  color: $purple-notice;
}

.tutorial {
  border-radius: 5px;
  border: 1px solid $light-gray;
  padding-left: 4px;
  padding-right: 3px;
  background-color: $fine-gray;
  a {
    color: #515151;
  }
}
