<<<<<<< HEAD
=======
.side-menu {
  .side-menu-title {
    padding-top: 1em;
    font-size: 115%;
  }
  li {
    list-style: none;
  }
  a {
    margin-left: .5em;
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: $secondary;
    cursor: pointer;
  }
}
>>>>>>> origin/master
