.side-menu {
<<<<<<< HEAD
<<<<<<< HEAD
  border-right: solid 2px $light-gray;
=======
>>>>>>> origin/master
=======
>>>>>>> origin/master
  .side-menu-title {
    padding-top: 1em;
    font-size: 115%;
  }
  li {
    list-style: none;
  }
  a {
    margin-left: .5em;
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: $secondary;
    cursor: pointer;
  }
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
<<<<<<< HEAD
<<<<<<< HEAD
}

a:hover {
  color: $secondary;
}
=======
}
>>>>>>> origin/master
=======
}
>>>>>>> origin/master
