  <table class="ui small celled table">
      <thead>
        <tr>
          <th>Key</th>
          <th>Description</th>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>predecessor: </td>
          <td><b>Predecessor</b> is the previous name of the initiative. Sometimes initiatives change names, Groups evolve into Labs, Events can have past conferences, etc.</td>
          <td><code>predecessor: Avocado Group</code></td>
        </tr>
        <tr>
          <td>succesor: </td>
          <td><b>Successor</b> is the next, or upcoming initiative. </td>
          <td><code>successor: Avocado Empire </code></td>
        </tr>
        <tr>
          <td>status: </td>
          <td><b>Status</b> is automatically 'active' and will not be shown. Other options are: 'closed', 'planning', 'building', 'reformatting' </td>
          <td><code>status: Planning</code></td>
        </tr>
        <tr class="positive">
          <td>start-date:</td>
          <td><b>Start Date</b> should be a year, or can also include month and day. It should follow the ISO format of 'YYYY-MM-DD'</td>
          <td><code>start-date: 2008-04-26</code></td>
        </tr>
        <tr class="warning">
          <td>end-date:</td>
          <td><b>End Date</b> only applicable to 'closed' initiatives, and is mandatory for events</td>
          <td><code>end-date: 2017</code></td>
        </tr>
        <tr class="warning">
          <td>host-org: </td>
          <td><b>Host</b> is the organization, community or space that runs or organizes the initiative. A Lab hosted by a hackerspace, a Project hosted by a Lab, or a Startup hosted by an Incubator, etc.  </td>
          <td><code>host-org: '[Tree Labs](http://treelabs.com)'</code></td>
        </tr>
        <tr class="positive">
          <td>type-org: </td>
          <td><b>Type</b>Defines the organization, purpose, or sponsor behind the initiative.
          There are eight to choose from: <em>Community</em> (grassroots), <em>School</em> (primary and secondary), <em>University</em> (higher education), <em>Non-Profit</em> (or NGO's), <em>For-Profit</em>, <em>Museum</em>, <em>Government</em>,or <em>Other</em></td>
          <td><code>type-org: Community</code></td>
        </tr>
        <tr>
          <td>affilliations: </td>
          <td><b>Affiliations</b> can be partners, networks, sponsors, or anyone you wish to acknowledge or be linked to your entry. Try to add them as markdown links in between quotation marks </td>
          <td><pre><code>affilliations:
  - '[Trees of the World](http://worldtrees.net)'
  - '[Yummy fruits](http://yummyfruits.org)'
</code></pre></td>
        </tr>
        <tr>
          <td>area: </td>
          <td><b>Area</b> is useful to </td>
          <td><code>area: 30 m<sup>2</sup></code></td>
        </tr>
        <tr>
          <td>size: </td>
          <td>Selected</td>
          <td><code>size: 4 members</code></td>
        </tr>
        <tr class="warning">
          <td>address:</td>
          <td>Address is the street and number of the physical location, rendered under <b>Location</b></td>
          <td><code>address: Tropical Av.</code></td>
        </tr>
        <tr>
          <td>directions:</td>
          <td>Directions are additional location pointers to arrive, rendered under <b>Location</b></td>
          <td><code>directions: 2nd floor, green door</code></td>
        </tr>
        <tr class="positive">
          <td>city:</td>
          <td>City is the city in english, rendered under <b>Location</b></td>
          <td><code>city: Morelia</code></td>
        </tr>
        <tr class="warning">
          <td>state:</td>
          <td>State, province, canton, region in english, rendered under <b>Location</b></td>
          <td><code>state: Michoacan</code></td>
        </tr>
        <tr class="positive">
          <td>country: </td>
          <td>Country is the country in english, , rendered under <b>Location</b></td>
          <td><code>country: Mexico</code></td>
        </tr>
      </tbody>
    </table>
