

<div class="ui two column grid">
  <div class="column center aligned">
    <h4 class="ui header">sphere-logo</h4>
    <img class="ui image centered" src="/assets/img/sphere-logo.png">
    <div class="ui small text compact menu">
      <a class="item noelink" href="https://raw.githubusercontent.com/DIYbiosphere/sphere/master/_assets/img/sphere-logo.png" download>png</a>
      <a class="item noelink" href="https://raw.githubusercontent.com/DIYbiosphere/sphere/master/_assets/svg/sphere-logo.svg" download>svg</a>
    </div>
  </div>

  <div class="column center aligned">
    <h4 class="ui header">sphere-logo-compact</h4>
    <img class="ui image centered" src="/assets/img/sphere-logo-compact.png">
    <div class="ui small text compact menu">
      <a class="item noelink" href="https://raw.githubusercontent.com/DIYbiosphere/sphere/master/_assets/img/sphere-logo-compact.png" download>png</a>
      <a class="item noelink" href="https://raw.githubusercontent.com/DIYbiosphere/sphere/master/_assets/svg/sphere-logo-compact.svg" download>svg</a>
    </div>
  </div>

  <div class="column center aligned">
    <h4 class="ui header">sphere-logo-circle</h4>
    <img class="ui image centered" src="/assets/img/sphere-logo-circle.png">
    <div class="ui small text compact menu">
      <a class="item noelink" href="https://raw.githubusercontent.com/DIYbiosphere/sphere/master/_assets/img/sphere-logo-circle.png" download>png</a>
      <a class="item noelink" href="https://raw.githubusercontent.com/DIYbiosphere/sphere/master/_assets/svg/sphere-logo-circle.svg" download>svg</a>
    </div>
  </div>

  <div class="column center aligned">
    <h4 class="ui header">sphere-logo-circle-github</h4>
    <img class="ui image centered" src="/assets/img/sphere-logo-circle-github.png">
    <div class="ui small text compact menu">
      <a class="item noelink" href="https://raw.githubusercontent.com/DIYbiosphere/sphere/master/_assets/img/sphere-logo-circle-github.png" download>png</a>
      <a class="item noelink" href="https://raw.githubusercontent.com/DIYbiosphere/sphere/master/_assets/svg/sphere-logo-circle-github.svg" download>svg</a>
    </div>
  </div>


</div>
