
html, body {
  overflow-x: hidden;
  color: black;
  font-family: $fonts !important;
  a {
    color: $hyperlink;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $hyperlink;
    }
  }

}

h1 {
  font-weight: 600 !important;
  border-bottom: 1px solid $fine-grey;
  padding-bottom: 15px;
}

h2, h3, h4, h5 {
  font-weight: 600 !important;
  padding-top: 20px;
  padding-bottom: 5px;
}
