html, body {
  overflow-x: hidden;
  color: black;
  font-family: $fonts !important;

  a {
    color: $hyperlink;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $hyperlink;
      text-decoration: underline;
    }
  }

}

blockquote {
  font-size: 1em;
}

h1 {
  border-bottom: 1px solid $fine-gray;
  font-weight: 600 !important;
  padding-top: 30px;
  padding-bottom: 15px;
}

h2,
h3,
h4,
h5 {
  font-weight: 600 !important;
  padding-bottom: 5px;
}

/**
*  This keeps hash tag links visible,
*  otherwise they are blocked by the top navbar
*/
h2:before,
h3:before {
  display: block;
  content: "";
  margin: -113px 0 0;
  height: 113px;
}

.img-thumb {
  @extend .img-responsive;
  padding-top: 1.5em;
}

.affix-bottom {
  position: relative
}

/*


#page-wrap {
  min-width: 960px;
  width: 90%;
  max-width: 1200px;
  align-content: center;
}
*/


.icons {
  display: inline;
  fill: currentColor;
  width: 0.9em;
  height: 0.9em;
  a {
    fill: $hyperlink;

    &:hover {
      fill: red;
    }
  }
}
