
html, body {
  overflow-x: hidden;
  color: black;
  font-family: $fonts !important;
  a {
    color: $hyperlink;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $hyperlink;
    }
  }

}

blockquote {
  font-size: 12px;
}


h1 {
  border-bottom: 1px solid $fine-gray;
  font-weight: 600 !important;
  padding-top: 30px;
  padding-bottom: 15px;
}

h2,
h3,
h4,
h5 {
  font-weight: 600 !important;
  padding-bottom: 5px;
}

.img-thumb {
  @extend .img-responsive;
  padding-top: 1.5em;
}


.affix-bottom {
  position: relative
}

.reading-time {
  font-family: $monospace;
  margin-top: -10px;
  margin-bottom: 15px;
  color: black;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: -0.9px;
  padding: 0.5em;
}
