.footer {
  background-color: $light-gray;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer a:hover {
  text-decoration: none;
  color: $iris;
}

.footer div {
  color: black;
}

.footer-block ul {
  margin-top: .5em;
}