.home-menu {
  background-color: #FFFFFF;
  color: #000000;
  font-family: $fonts;
  font-weight: 600;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

@media screen and (max-width: 35.5em) {
  .home-menu .pure-menu-list {
    display: block;
  }
}

.home-menu .pure-menu-heading { 
  color: #000000;
  text-transform: none;
}

.home-menu .pure-menu-item {
  line-height: 2.5em;
}

.home-menu .pure-menu-link {
  color: #000000;
  text-transform: uppercase;
}

.home-menu .pure-menu-link:hover {
  color: $iris;
  text-decoration: none;
}

.home-menu .pure-menu-link i.octicon-chevron-down {
  color: $warm-gray;
}

.menu-heading-logo {
  width: 3.5em;
  margin-bottom: -1em;
  margin-top: -1.4em;
  margin-right: 0em;
}

@media (min-width: 48em) {
  .home-menu ul {
    float: none;
  }
}

.pure-menu-vertical {
  line-height: 1em;
}

.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
  content: none;
}