.mar-no {
  margin-top: .5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
}

.mar-btm {
  margin-bottom: $mar;
}

.mar-top {
  margin-top: $mar;
}

.mar-lft {
  margin-left: $mar;
}

.mar-all {
  margin-top: $mar;
  margin-left: $mar;
  margin-right: $mar;
  margin-bottom: $mar;
}

.pad-no  {
  padding-top: 0em;
  padding-left: 0em;
  padding-right: 0em;
  padding-bottom: 0em;
}

.pad-btm {
  padding-bottom: $pad;
}

.pad-top {
  padding-top: $pad;
}

.pad-lft {
  padding-left: $pad;
}

.pad-all {
  padding-top: $pad;
  padding-left: $pad;
  padding-right: $pad;
  padding-bottom: $pad;
}

.bg-no {
  background-color: inherit;
  color: #777;
}

.bg-dark {
  background-color: black;
  color: white !important;
}

.selectable:hover {
  cursor: pointer;
  background-color: #F2F2F2;
}

.link {
  cursor: pointer;
  text-decoration: none !important;
}

.link:hover {
  color: black;
}

.text-weak {
  font-weight: 100;
}

.text-dark {
  color: black;
}

.text-small {
  font-size: .75em;
  line-height: 100%;
}

.text-strong {
  font-weight: 700;
}