/**
* Variables used across css files
*/
$pad: 1.5em;
$mar: 1.5em;

/**
* Main color palette
*/

$default: #ffffff;
$primary: #000000;
$secondary: #7351B8;
$hyperlink: #007cee;
$green-notice: #34ae5d;
$red-notice: #d35043;
$blue-notice: #1d9bce;
$purple-notice: #a44cc9;
$orange-notice: #eb804d;

$light-gray: #dadada;
$fine-gray: #eeeeee;
$warm-gray: #9b9b9b;
$medium-gray: #6F6F6F;

//** colors for github issues labels**//
$bug-color: #ed5e5f;
$critical-color: #a72628;
$database-color: #773db1;
$design-color: #c46e32;
$development-color: #4789d9;
$documentation-color: #6aa223;
$question-color: #e6e6e6;
$easy-color: #f6c647;
$enhancement-color: #3443e6;
$epic-color: #395499;
$feature-color: #cc46ae;
$feedback-color: #6dd09a;
$help-color: #68dff9;
$resolution-color: #727272;
$wontfix-color: #fafafa;
