/**
* Variables used across css files
*/
$pad: 1.5em;
$mar: 1.5em;

/**
* Main color palette
*/

$default: white;
$primary: black;
$secondary: #558071;
$hyperlink: #0067C5;
$green-notice: #34AE5D;
$red-notice: #d35043;
$blue-notice: #1d9bce;
$purple-notice: #A44CC9;
$orange-notice: #EB804D;

$light-gray: #dadada;
$warm-gray: #9b9b9b;
