/**
* Variables used across css files
*/
$pad: 1.5em;
$mar: 1.5em;

/**
* Main color palette
*/

$default: white;
$primary: black;
$secondary: #007Cee;
$hyperlink: #007Cee;
$green-notice: #34ae5d;
$red-notice: #d35043;
$blue-notice: #1d9bce;
$purple-notice: #a44cc9;
$orange-notice: #eb804d;

$light-gray: #dadada;
$warm-gray: #9b9b9b;
