---
layout: default
---


<div class="ui container xo top padding">
    <div class="ui divided padded relaxed grid">
      <div class="streched row xo padding top twofold">
        <div class="four wide column">
            <aside>
                {% include sidebar.html %}
            </aside>
        </div> <!-- close column -->

        <div class="twelve wide column">
            <article>
              {% include contentMenu.html %}

              {% include contentTab.html %}
            </article>
        </div>
      </div>
    </div> <!-- close grid -->

</div> <!-- close container -->
