$twitter-color: #00abf1;
$facebook-color: #cb2027;
$github-color: #ffffff;
$linkedin-color: #007ab9;
$hackpad-color: #4b8971;
$trello-color: #018ee0;
$dropbox-color: #017ee6;
$basecamp-color: #117e35;
$google-color: #dc4e41;
$instagram-color: #f0274b;
$flickr-color: #4186e3;
$youtube-color: #ca3737;
$vimeo-color: #1ab7ea;
$vine-color: #02a379;
$snapchat-color: #ece000;
$whatsapp-color: #009a52;
$meetup-color: #eb1c24;
$viber-color: #7b519d;
$foursquare-color: #f94877;
$skype-color: #02b4eb;
$telegram-color: #2ca5e0;
$hangouts-color: #0f9d58;
$gitter-color: #e91560;
$slack-color: #4d8874;
$irc-color: #ffffff;
$email-color: #ffffff;
$mailinglist-color: #ffffff;
$blog-color: #ffffff;
$wiki-color: #ffffff;
$wordpress-color: #21759b;
$indiegogo-color: #eb1478;
$kickstarter-color: #14e06e;
$pinterest-color: #cb2027;
$jsfiddle-color: #4679a4;
$codepen-color: #666666;
$periscope-color: #3fa4c4;
$reddit-color: #f74300;
$vk-color: #4c75a3;
$onedrive-color: #094ab1;
$box-color: #2481c6;
$hipchat-color: #003366;
$rocketchat-color: #c1272d;
$wechat-color: #2dc100;
$medium-color: #14c767;
$tumblr-color: #395976;
$picasa-color: #9d48a1;
$researchgate-color: #00d0af;
$academia-color: #41454a;
$rss-color: #f8991d;
$dribbble-color: #f26798;
$soundcloud-color: #ff6a22;
$yikyak-color: #0dd5b1;
$yelp-color: #be2f25;
$myspace-color: #003399;
