pre .copy-to-clipboard {
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: #4d5257;
  color: #ccc;
  border-radius: 2px;
}

code+.copy-to-clipboard {
  margin-left: -1px;
  border-left: 0 !important;
  font-size: inherit !important;
  vertical-align: middle;
  height: 21px;
  top: 0;
}

.copy-to-clipboard {
  background-position: 50% 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width: 27px;
  height: 1.45rem;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: #5e5e5e;
  background-color: #fefaed;
  margin-left: -.2rem;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
}
