.label {
  border-radius: 3px;
  font-weight: 600;
  padding: 4px 5px;
}

.bug {
  background-color: $bug-color;
  color: $default;
}

.critical {
  background-color: $critical-color;
  color: $default;
}

.database {
  background-color: $database-color;
  color: $default;
}

.design {
  background-color: $design-color;
  color: $default;
}

.development {
  background-color: $development-color;
  color: $default;
}

.documentation {
  background-color: $documentation-color;
  color: $default;
}

.easy {
  background-color: $easy-color;
  color: $default;
}

.enhancement {
  background-color: $enhancement-color;
  color: $default;
}

.epic {
  background-color: $epic-color;
  color: $default;
}

.feature {
  background-color: $feature-color;
  color: $default;
}

.feedback {
  background-color: $feedback-color;
  color: $primary;
}

.question {
  background-color: $question-color;
  color: $primary;
}

.help {
  background-color: $help-color;
  color: $primary;
}

.resolution {
  background-color: $resolution-color;
  color: $default;
}
