.label {
  border-radius: 3px;
  font-family: arial !important;
  font-weight: bold !important;
  padding: 7px 10px;
}

.bug.label {
  background-color: $bug-color;
  color: $default;
}

.bug.label {
  background-color: $bug-color;
  color: $default;
}
