/**
* Variables used across css files
*/
$pad: 1.5em;
$mar: 1em;

/**
* Main color palette
*/



$blue: #2185D0;
$lightBlue: #CCE2FF;
$black: #1B1C1D;
$lightBlack: #545454;
$grey: #767676;
$lightGrey: #DCDDDE;
$darkWhite: #F3F3F3;

$primaryColor: #2185D0;
$secondaryColor: $black;

$lightPrimaryColor: $lightBlue;
$lightSecondaryColor: $lightBlack;
