/**
*  Sticky Footer by https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
*/

.hero-image {
  background-image: url(/assets/img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#map {
  height: 500px
}


.infobox {
  min-width: 250px;

  table tr td {
    border-top: 0px !important;
  }
}

.noul {
  text-decoration: none !important;
}


article {
  a:not(.noelink)[href^="http"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/external-link.png') no-repeat 0 0;
    background-size: 100%;
  }

  a:not(.noul)[href$=".md"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/download-link.png') no-repeat 0 0;
    background-size: 100%;
  }
  a[href$=".png"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/download-link.png') no-repeat 0 0;
    background-size: 100%;
  }
  a[href$=".svg"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/download-link.png') no-repeat 0 0;
    background-size: 100%;
  }

}





strong {
  font-weight: 600 !important;
}

em {
  font-weight: 400i !important;
}

strong em {
  font-weight: 600i !important;
}

code {
  background-color: $lightGrey !important;
}

footer {

  .border-footer {
    border-top: 1px solid $lightGrey;
  }
}

.search-highlight {
  background-color: yellow;
}
/**
*  This keeps hash tag links visible,
*  otherwise they are blocked by the top navbar
*/
