html, body {
  overflow-x: hidden;
  color: $primary !important;
  font-family: $fonts !important;

  a {
    color: currentColor;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: $hyperlink;
      text-decoration: none;
    }
  }

}

.center-content {
  max-width: 1080px;
margin: 0 auto !important;
float: none !important;
}

article {
  a[href^="http"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/external-link.png') no-repeat 0 0;
    background-size: 100%;
  }
}

blockquote {
  font-size: 0.8em;
}

h1 {
  color: $primary !important;
  border-bottom: 1px solid $fine-gray;
  font-weight: 600 !important;
  padding-top: 30px;
  padding-bottom: 10px;
}

h2,
h3,
h4,
h5 {
  color: $primary !important;
  font-weight: 600 !important;
  padding-bottom: 5px;
}

strong {
  font-weight: 600 !important;
}

em {
  font-weight: 400i !important;
}

strong em {
  font-weight: 600i !important;
}

code {
  background-color: $fine-gray !important;
}

/**
*  This keeps hash tag links visible,
*  otherwise they are blocked by the top navbar
*/
h2:before,
h3:before {
  display: block;
  content: "";
  margin: -113px 0 0;
  height: 113px;
}

.img-thumb {
  @extend .img-responsive;
  padding-top: 1.5em;
}

.affix-bottom {
  position: relative
}

/*


#page-wrap {
  min-width: 960px;
  width: 90%;
  max-width: 1200px;
  align-content: center;
}
*/


.icons {
  display: inline;
  fill: currentColor;
  vertical-align: middle;
  height: 0.9em;
  width: 1em;
  a {
    fill: $hyperlink;

    &:hover {
      fill: red;
    }
  }
}
