/**
*  Sticky Footer by https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
*/

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.hero-image {
  background-image: url(/assets/img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.infobox {
  min-width: 250px;
  width: 300px;

  table tr td {
    border-top: 0px !important;
  }
}

nav {
  border-bottom: 3px solid $black;

  .diybio-logo {
    height: 16px;
    max-width: 30px;
    padding-right: 8px;
  }
}

article {
  a:not(.noelink)[href^="http"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/external-link.png') no-repeat 0 0;
    background-size: 100%;
  }

  a[href$=".md"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/download-link.png') no-repeat 0 0;
    background-size: 100%;
  }

}




strong {
  font-weight: 600 !important;
}

em {
  font-weight: 400i !important;
}

strong em {
  font-weight: 600i !important;
}

code {
  background-color: $lightGrey !important;
}

footer {

  .border-footer {
    border-top: 1px solid $lightGrey;
  }
}

/**
*  This keeps hash tag links visible,
*  otherwise they are blocked by the top navbar
*/
