/**
*  Sticky Footer by https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
*/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600');

body {
  font-family: 'Source Code Pro', monospace;
}

.infobox {
  min-width: 250px;

table tr td {
    border-top: 0px !important;
  }
}

.section-nav {
  margin: 5px 0;
  padding: 10px 30px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}

table {
  a:not(.noelink)[href^="http"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/external-link.png') no-repeat 0 0;
    background-size: 100%;
  }
}


article {
  a:not(.noelink)[href^="http"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/external-link.png') no-repeat 0 0;
    background-size: 100%;
  }

  .elink:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/external-link.png') no-repeat 0 0;
    background-size: 100%;
  }

  a:not(.noul)[href$=".md"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/download-link.png') no-repeat 0 0;
    background-size: 100%;
  }
  a:not(.noul)[href$=".png"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/download-link.png') no-repeat 0 0;
    background-size: 100%;
  }
  a:not(.noul)[href$=".svg"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/download-link.png') no-repeat 0 0;
    background-size: 100%;
  }

}


strong {
  font-weight: 600 !important;
}

b {
  font-weight: 600 !important;
}

em {
  font-weight: 400i !important;
}

strong em {
  font-weight: 600i !important;
}

pre code {
  display: block;
  background-color: #F7F7F7;
  padding: 15px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code {
  font-family: 'Source Code Pro', monospace !important;
  background-color: #F7F7F7;
  font-size: 0.9em;
}

video {
  width: 100%    !important;
  height: auto   !important;
}



.logo {
  path {
  fill: currentColor !important;
  }
}

.search-highlight {
  background-color: CCE2FF;
}
/**
*  This keeps hash tag links visible,
*  otherwise they are blocked by the top navbar
*/

.message {
  a {
    color: inherit !important;
    text-decoration: underline !important;
  }
}

.ui.menu .item:before {
    width: 0px !important;
}

.ui.accordion .active.title .rotating.icon,
.ui.accordion .accordion .active.title .rotating.icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.ui.accordion.menu .item .active.title > .rotating.icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ui.accordion .active.title .rotating.icon,
.ui.accordion .accordion .active.title .rotating.icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.ui.menu .item .active.item > .rotating.icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.active-menu {
  color: #0078FE !important;
}
