/**
*  Sticky Footer by https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
*/

:target:before {
content: "";
display: block;
height: 110px; /* fixed header height*/
margin: -110px 0 0; /* negative fixed header height */
}

#map {
  width: 100%;
  height: 700px;
}

.owl-stage {
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;

   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   height: 500px;
}

.owl-item{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto !important;
    overflow: hidden;
}

.owl-img {
  min-height: 100%;
  width: auto;
  object-fit: cover;
}


.infobox {
  min-width: 250px;

  table tr td {
    border-top: 0px !important;
  }
}

.noul {
  text-decoration: none !important;
}


article {
  a:not(.noelink)[href^="http"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/external-link.png') no-repeat 0 0;
    background-size: 100%;
  }

  a:not(.noul)[href$=".md"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/download-link.png') no-repeat 0 0;
    background-size: 100%;
  }
  a:not(.noul)[href$=".png"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/download-link.png') no-repeat 0 0;
    background-size: 100%;
  }
  a:not(.noul)[href$=".svg"]:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    content: "";
    background: url('/assets/img/download-link.png') no-repeat 0 0;
    background-size: 100%;
  }

}





strong {
  font-weight: 600 !important;
}

em {
  font-weight: 400i !important;
}

strong em {
  font-weight: 600i !important;
}

code {
  background-color: $lightGrey !important;
}

footer {

  .border-footer {
    border-top: 3px solid #767676;
  }
}

.search-highlight {
  background-color: CCE2FF;
}
/**
*  This keeps hash tag links visible,
*  otherwise they are blocked by the top navbar
*/
