/**
*  Sticky Footer by https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
*/

#simple-nav-bar {
  margin-top: 10px;
  z-index: 10;
}

#nav-big-logo {
  max-width: 400px;
}

#map {
  width: 100%;
  height: 700px;
}

.owl-stage {
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;

   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   height: 500px;
}

.owl-item{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto !important;
    overflow: hidden;
}

.owl-carousel .owl-item {
  min-height: 500px;
}

.owl-img {
  min-height: 100%;
  width: auto;
  object-fit: cover;
}


.infobox {
  min-width: 250px;

  table tr td {
    border-top: 0px !important;
  }
}

.noul {
  text-decoration: none !important;
}


article {
  a:not(.noelink)[href^="http"]:after {
    display: inline-block;
    width: 10px;
    height: 9px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: baseline;
    content: "";
    background: url('/assets/img/external-link.png') no-repeat 0 0;
    background-size: 100%;
  }

  .elink:after {
    display: inline-block;
    width: 10px;
    height: 9px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: baseline;
    content: "";
    background: url('/assets/img/external-link.png') no-repeat 0 0;
    background-size: 100%;
  }

  a:not(.noul)[href$=".md"]:after {
    display: inline-block;
    width: 10px;
    height: 9px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: baseline;
    content: "";
    background: url('/assets/img/download-link.png') no-repeat 0 0;
    background-size: 100%;
  }
  a:not(.noul)[href$=".png"]:after {
    display: inline-block;
    width: 10px;
    height: 9px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: baseline;
    content: "";
    background: url('/assets/img/download-link.png') no-repeat 0 0;
    background-size: 100%;
  }
  a:not(.noul)[href$=".svg"]:after {
    display: inline-block;
    width: 10px;
    height: 9px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: baseline;
    content: "";
    background: url('/assets/img/download-link.png') no-repeat 0 0;
    background-size: 100%;
  }

}





strong {
  font-weight: 600 !important;
}

em {
  font-weight: 400i !important;
}

strong em {
  font-weight: 600i !important;
}

pre code {
  background-color: #EFEFEF;
  display: block;
  padding: 15px;
  white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9em;
  background-color: #EFEFEF !important;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

footer {

  .border-footer {
    border-top: 3px solid #767676;
  }
}

.search-highlight {
  background-color: CCE2FF;
}
/**
*  This keeps hash tag links visible,
*  otherwise they are blocked by the top navbar
*/

.message {
  a {
    color: inherit !important;
    text-decoration: underline !important;
  }
}

// only set inside liquid {% if page.header %}
.overLapHeader {
  margin-top: -100px;
}
@media only screen and (max-width:767px) {
  .overLapHeader {
    margin-top: 0px;
  }
}


// Semantic overrides
.ui.spaced.image{
  display: inline-block !important;
  margin: 0.5em;
}
