<div class="menu">
  <a class="item {% if page.url contains 'entries' %}active-menu{% endif %}" href="/docs/basics/entries">Entries</a>
  <a class="item {% if page.url contains 'software' %}active-menu{% endif %}" href="/docs/basics/software">Software</a>
  <a class="item {% if page.url contains 'documentation' %}active-menu{% endif %}" href="/docs/basics/documentation">Documentation</a>
  <a class="item {% if page.url contains 'design' %}active-menu{% endif %}" href="/docs/design/software">Design</a>
</div>
