<div class="menu">
  <a class="item {% if page.url contains 'contributing' %}active-menu{% endif %}" href="/docs/guides/contributing">Contributing Guide</a>
  <a class="item {% if page.url contains 'writing' %}active-menu{% endif %}" href="/docs/guides/writing">Writing Entries</a>
  <a class="item {% if page.url contains 'workflow' %}active-menu{% endif %}" href="/docs/guides/workflow">Ticket Workflow</a>
  <a class="item {% if page.url contains 'github-eli5' %}active-menu{% endif %}" href="/docs/guides/github-eli5">GitHub ELI5</a>
</div>
