a svg:hover {
  & #twitter {
  fill: #00abf1;
  }

  & #facebook {
  fill: #3B5A98;
  }

  & #facebook-group {
  fill: #3B5A98;
  }

  & #github {
  fill: #000000;
  }

  & #linkedin {
  fill: #007ab9;
  }

  & #trello {
  fill: #018ee0;
  }

  & #dropbox {
  fill: #017ee6;
  }

  & #basecamp {
  fill: #117e35;
  }

  & #instagram {
  fill: #f0274b;
  }

  & #flickr {
  fill: #4186e3;
  }

  & #youtube {
  fill: #ca3737;
  }

  & #vimeo {
  fill: #1ab7ea;
  }

  & #snapchat {
  fill: #ece000;
  }

  & #whatsapp {
  fill: #009a52;
  }

  & #snapchat {
  fill: #ece000;
  }

  & #meetup {
  fill: #eb1c24;
  }

  & #skype {
  fill: #02b4eb;
  }

  & #telegram {
  fill: #2ca5e0;
  }

  & #gitter {
  fill: #ed1965;
  }

  & #slack {
  fill: #4d8874;
  }

  & #rss {
  fill: #F39942;
  }


}


$google-color: #dc4e41;
$vine-color: #02a379;
$meetup-color: #eb1c24;
$viber-color: #7b519d;
$foursquare-color: #f94877;
$hangouts-color: #0f9d58;
$irc-color: #ffffff;
$email-color: #ffffff;
$mailinglist-color: #ffffff;
$blog-color: #ffffff;
$wiki-color: #ffffff;
$wordpress-color: #21759b;
$indiegogo-color: #eb1478;
$kickstarter-color: #14e06e;
$pinterest-color: #cb2027;
$jsfiddle-color: #4679a4;
$codepen-color: #666666;
$periscope-color: #3fa4c4;
$reddit-color: #f74300;
$vk-color: #4c75a3;
$onedrive-color: #094ab1;
$box-color: #2481c6;
$hipchat-color: #003366;
$rocketchat-color: #c1272d;
$wechat-color: #2dc100;
$medium-color: #14c767;
$tumblr-color: #395976;
$picasa-color: #9d48a1;
$researchgate-color: #00d0af;
$academia-color: #41454a;
$rss-color: #f8991d;
$dribbble-color: #f26798;
$soundcloud-color: #ff6a22;
$yikyak-color: #0dd5b1;
$yelp-color: #be2f25;
$myspace-color: #003399;
