.btn-lg {
  font-size: 110%;
}

.btn-long {
  width: 110%;
  text-align: left;
  padding-left: 1em;
}

.btn-long-icon {
  float: right;
}

.btn-dark {
  background-color: $primary;
  color: $default;

}

.btn-light {
  background-color: $default;
  color: $primary;
}

.gitter-chat-button {
  color: red;
}
