.btn-lg {
  font-size: 110%;
}

.btn-long {
  width: 110%;
  text-align: left;
  padding-left: 1em;
}

.btn-long-icon {
  float: right;
}

.btn-dark {
  background-color: $primary;
  color: $default;

}

.btn-light {
  background-color: $default;
  color: $primary;
}

.gitter-chat-button {
  color: red;
}

.search-form {
	position: absolute;
	right: 1px;
	top: 1px;
  margin-right: 0;
}

.search-field {
	background-color: transparent;
	background-image: url('/assets/img/oi-search.png');
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	border: none;
	cursor: pointer;
	height: 37px;
	margin: 3px 0;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 800ms ease, background 800ms ease;
	transition:         width 800ms ease, background 800ms ease;
	width: 0;
  font-weight: 400;
  font-size: 0.95em;
}

.docsearch {
  position: static;
  background-color: #fff;
	border: 1px solid black;
	cursor: text;
	outline: 0;
	width: 230px;
}

.search-field:focus {
	background-color: #fff;
	border: 1px solid black;
	cursor: text;
	outline: 0;
	width: 230px;
}

.search-submit {
  display: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

/*
input {
	outline: none;
  vertical-align: middle;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: $default url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  content:"\f078";
	border: solid 1px $primary;
	padding: 9px 10px 9px 32px;
	width: 70px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 150px;
	background-color: #fff;
	border-color: $primary;
}

/* Demo 2
#demo-2 input[type=search] {
	width: 15px;
  height: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 150px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}
*/
