.btn-lg {
  font-size: 110%;
}

.btn-long {
  width: 110%;
  text-align: left;
  padding-left: 1em;
}

.btn-long-icon {
  float: right;
}

.btn-dark {
  background-color: $primary;
  color: $default;
  text-decoration: none;

  a {
  text-decoration: none;
  }
}

.btn-light {
  background-color: $default;
  color: $primary;
}

.gitter-chat-button {
  color: red;
}

.search-form {
	position: absolute;
	right: 1px;
	top: 1px;
  margin-right: 0;
}

.search-field {
	background-color: transparent;
	background-image: url('/assets/img/oi-search.png');
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
	border: none;
	cursor: pointer;
	height: 37px;
	margin: 3px 0;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 800ms ease, background 800ms ease;
	transition:         width 800ms ease, background 800ms ease;
	width: 0;
  font-weight: 400;
  font-size: 0.95em;
}

.docsearch {
	width: 230px;
}

.search-field:focus {
	background-color: #fff;
	border: 1px solid black;
	cursor: text;
	outline: 0;
	width: 230px;
}

.search-submit {
  display: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

.form-control {

  :focus {
  border: 1px solid black;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
  }
}

.search-input {
  border: 1px solid black;
  border-radius: 0;
  :focus {
  border: 1px solid black;
  box-shadow: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  }
}

.landing-search {
  width: 500px;
}

.nav-search {
  width: 100px;
}

.btn-sliders {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
}

.btn-search {
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 0;
}
