
{% if comments_issue == true '%}
<div class="xo top bottom padding twofold">
    <div id="gh-comments-list"></div>
</div>

<script type="text/javascript">
  DoGithubComments(
    "{{ site.github_comments_repository }}" ,"{{ comments_issue_id }}"
  );</script>
{% endif %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<script src="{{ site.baseurl }}/assets/js/githubComments.js"> </script>
