 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 a img { border: 0; }
 a { color: #80b548; text-decoration: none; }
 a:hover { color: #d8ffaf; }
 body { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #676767; margin: 0; padding: 0; background: #141414; }
 h2 { font-size: 1.9em; margin: 0; padding: .3em 0; line-height: 1.2; font-family: "Play", Arial, Helvetica, sans-serif; font-weight: normal; -webkit-text-stroke-width: 0.3px; }
 #content h2 { color: #fff; }
 div.paragraph { font-size: 1em; line-height: 1.5; margin: 0; padding: .5em 0; }
 p { font-size: 1em; line-height: 1.5; margin: 0; padding: .5em 0; }
 blockquote { font-style:italic; border-left:4px solid #80b548; margin:10px 0 10px 0; padding-left:20px; line-height:1.5; color:#555; }
 #content div.paragraph { color: #676767; }
 #content p { color: #676767; }
 #content abbr { border-bottom: 1px dotted #8f8f8f; }
 #page { margin: 0 auto; width: 950px; }
 #nav-wrap, #header-wrap, #main-wrap, #banner-wrap, #footer-wrap { min-width: 950px; }
 #header-wrap { background: #1d1d1d url(theme/header-bg.png?1452193708) repeat-x; border-bottom: 1px solid #272727; }
 #header { width: 100%; height: 102px; }
 #header, #header table { border-collapse: collapse; border-spacing: 0; }
 #header td { vertical-align: middle; text-align: left; }
 #logo { padding: 25px 0; }
 #logo, #logo a { color: #fff; font-size: 48px; font-family: "Play", Arial, Helvetica, sans-serif; -webkit-text-stroke-width: 0.5px; }
 #logo a:hover { color: #fff; }
 #header-right { padding: 3px 0 0 10px; }
 #header-right table { float: right; width: 1px; }
 #header-right td { padding: 0; }
 #header-right a { color: #80b548; }
 #header-right a:hover { color: #d8ffaf; }
 #header-right .phone-number .wsite-text { display: block; white-space: nowrap; color: #5d5d5d; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none; margin: 2px 0 0 15px; }
 #header .wsite-social { margin: 0 0 0 10px; }
 .wsite-social-item { width: 20px; height: 20px; margin: 0 0 0 3px; background-image:url(theme/social-grey.png?1452193708); }
 .wsite-social-facebook {background-position:0 0;}
 .wsite-social-facebook:hover {background-position:0 -20px;}
 .wsite-social-facebook:active {background-position:0 -40px;}
 .wsite-social-pinterest {background-position:-20px 0;}
 .wsite-social-pinterest:hover {background-position:-20px -20px;}
 .wsite-social-pinterest:active {background-position:-20px -40px;}
 .wsite-social-twitter {background-position:-40px 0;}
 .wsite-social-twitter:hover {background-position:-40px -20px;}
 .wsite-social-twitter:active {background-position:-40px -40px;}
 .wsite-social-linkedin {background-position:-60px 0;}
 .wsite-social-linkedin:hover {background-position:-60px -20px;}
 .wsite-social-linkedin:active {background-position:-60px -40px;}
 .wsite-social-mail {background-position:-80px 0;}
 .wsite-social-mail:hover {background-position:-80px -20px;}
 .wsite-social-mail:active {background-position:-80px -40px;}
 .wsite-social-rss {background-position:-100px 0;}
 .wsite-social-rss:hover {background-position:-100px -20px;}
 .wsite-social-rss:active {background-position:-100px -40px;}
 .wsite-social-flickr {background-position:-120px 0;}
 .wsite-social-flickr:hover {background-position:-120px -20px;}
 .wsite-social-flickr:active {background-position:-120px -40px;}
 .wsite-social-plus {background-position:-140px 0;}
 .wsite-social-plus:hover {background-position:-140px -20px;}
 .wsite-social-plus:active {background-position:-140px -40px;}
 .wsite-social-vimeo {background-position:-160px 0;}
 .wsite-social-vimeo:hover {background-position:-160px -20px;}
 .wsite-social-vimeo:active {background-position:-160px -40px;}
 .wsite-social-yahoo {background-position:-180px 0;}
 .wsite-social-yahoo:hover {background-position:-180px -20px;}
 .wsite-social-yahoo:active {background-position:-180px -40px;}
 .wsite-social-youtube {background-position:-200px 0;}
 .wsite-social-youtube:hover {background-position:-200px -20px;}
 .wsite-social-youtube:active {background-position:-200px -40px;}
 #header-right .search { }
 .wsite-search { margin: 0 0 0 10px; }
 #header-right .wsite-search-input { width: 141px; height: 14px; border: none; padding: 10px 5px 8px 10px !important; color: #707070; font-family: Arial, Helvetica, sans-serif; font-size: 12px; background: url(theme/input-bg.png?1452193708) no-repeat; }
 #header-right .wsite-search-button { position: relative; width: 24px; height: 32px; color: #010101; font-size: 12px; border: none; margin: 0; padding: 0; background: url(theme/submit-bg.png?1452193708) no-repeat; }
 #nav-wrap { background: #292929; border-bottom: 1px solid #2f2f2f; }
 #topnav { clear: both; margin: 0; }
 #topnav ul { list-style: none; float: right; }
 #topnav ul li { list-style: none; float: left; }
 #topnav a { float: left; display: block; color: #7a7a7a; text-decoration: none; font-family: Arial, Helvetica, sans-serif; padding: 18px 12px 15px; font-size: 12px; border: 0; outline: 0; list-style-type: none; text-transform: uppercase; line-height: 1; }
 #topnav ul > li:last-child a, #topnav ul > span:last-child li a { padding-right: 0; }
 #topnav li#active a, #topnav a:hover { color: #80b548; border: 0; }
 #wsite-menus .wsite-menu li a { font-family: Arial, Helvetica, sans-serif; padding: 10px; color: #8d8c8c; background: #383838; border: 0; }
 #wsite-menus .wsite-menu li a:hover { color: #80b548; background: #292929; }
 #banner-wrap { background: #0f0f0f; border-bottom: 1px solid #272727; overflow: hidden; }
 #banner { position: relative; padding: 17px 0 16px; overflow: hidden; }
 #banner-inner, #bannerleft { border: 8px solid #292929; }
 #main-wrap { background: url(theme/Main_Bg.jpg?1452193708); border-bottom: 1px solid #333333; }
 #main { }
 #content { min-height: 400px; padding: 23px 0; }
 .tall-header-page .wsite-header { width: 934px; height: 290px; background: url(theme/banner-tall.jpg?1452193708) no-repeat; }
 .short-header-page .wsite-header { width: 934px; height: 170px; background: url(theme/banner-short.jpg?1452193708) no-repeat; }
 .no-header-page #banner-wrap { padding: 5px 0 4px; }
 .no-header-page #banner { display: none; }
 .landing-page #banner { overflow: hidden; border: none; }
 .landing-page #banner-inner { border: none; }
 #bannerleft { float: left; padding: 0; position: relative; }
 .landing-page .wsite-header { width: 529px; height: 360px; background: url(theme/banner-landing.jpg?1452193708) no-repeat; }
 .landing-banner-outer { display: table; #position: relative; overflow: hidden; }
 .landing-banner-mid { #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; }
 .landing-banner-inner { #position: relative; #top: -50%; }
 #bannerright { float: left; width: 365px; height: 376px; padding: 0 0 0 35px; }
 #bannerright h2 { color: #fff; font-size: 30px; padding: 0px; line-height: 30px; }
 #bannerright div.paragraph { color: #676767; font-size: 14px; padding: 20px 0px; line-height: 140%; margin: 0; }
 #bannerright p { color: #676767; font-size: 14px; padding: 20px 0px; line-height: 140%; margin: 0; }
 #bannerright .wsite-button { margin: 0; }
 .splash-page #header { width: 532px; }
 .splash-page #banner { width: 527px; height: 161px; padding: 6px 4px 4px 6px; background: url(theme/banner-splash-bg.png?1452193708) no-repeat; }
 .splash-page .wsite-header { width: 515px; height: 149px; background: url(theme/banner-splash.jpg?1452193708) no-repeat; }
 .splash-page #content-container { width: 528px; }
 .splash-page #content { width: 528px; }
 .splash-page #footer { width: 524px; }
 #footer { padding: 45px 0 50px 0; font-size: 12px; color: #fff; font-family: Arial, Helvetica, sans-serif; text-align: right; }
 #footer div.paragraph { color: #888; }
 #footer p { color: #888; }
 #footer a { color: #666666; }
 #footer a:hover { color: #c2c2c2; }
 #footer h2 { color: #eee; font-size: 16px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; line-height: 1.5px; padding: .3em 0 1em 0; border-bottom:1px solid #333; }
 #footer span { vertical-align: middle; }
 .wsite-footer { margin-bottom: 15px; }
 .wsite-form-label { display: inline-block; color: #676767; font-family: Arial, Helvetica, sans-serif; font-size: 1em; padding: 12px 0 5px 0; }
 .form-radio-container { color: #676767; font-size: 1em; font-family: Arial, Helvetica, sans-serif; }
 .wsite-form-input, .wsite-search-element-input { font-family: Arial, Helvetica, sans-serif; font-size: 1em; color: #676767; background: #0d0d0d; padding: 8px 4px 5px !important; line-height: 1; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
 .form-select { color: #676767; font-size: 1em; font-family: Arial, Helvetica, sans-serif; background: #0d0d0d; padding: 3px 4px; width: 320px; height: 27px; border: none; line-height: 27px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
 .wsite-form-container { margin-top:0px !important; text-align:left; color:#777; }
 .wsite-footer .wsite-form-label { font-size: 1em; padding: 5px 0 2px 0; color:#ccc; }
 .wsite-footer .wsite-form-field { width:300px !important; }
 .wsite-footer .form-radio-container { font-size:1em; }
 .wsite-footer .wsite-form-input, .wsite-footer .wsite-search-element-input { font-size: 1em; width: 100% !important; background:#222; color:#ccc; border:1px solid #333; }
 .wsite-footer .form-select { width: 100%; }
 .wsite-button { color: #fff !important; font-family: Arial, Helvetica, sans-serif; height: 34px; display: inline-block; font-size: 12px; border: none; font-weight: bold; font-size: 13px; text-decoration: none; padding: 0 15px 0 0; background: url(theme/button.png?1452193708) no-repeat 100% -105px; text-shadow:0 -1px 0 rgba(0,0,0,0.6); }
 .wsite-button:hover { background-position: 100% -140px; }
 .wsite-button:active { background-position: 100% -175px; }
 .wsite-button-inner { height: 34px; line-height: 34px; display: block; font-size: 14px; font-weight: bold; border: none; text-decoration: none; padding: 0 10px 0 25px; background: url(theme/button.png?1452193708) no-repeat 0 0; }
 .wsite-button:hover .wsite-button-inner { background-position: 0 -35px; }
 .wsite-button:active .wsite-button-inner { background-position: 0 -70px; }
 .wsite-button-large { height: 41px; background: url(theme/button_large.png?1452193708) no-repeat 100% -126px; padding: 0 15px 0 0; }
 .wsite-button-large:hover { background-position: 100% -168px; }
 .wsite-button-large:active { background-position: 100% -210px; }
 .wsite-button-large .wsite-button-inner { height: 41px; line-height: 41px; padding: 0 10px 0 25px; background: url(theme/button_large.png?1452193708) no-repeat 0 0; }
 .wsite-button-large:hover .wsite-button-inner { background-position: 0 -42px; }
 .wsite-button-large:active .wsite-button-inner { background-position: 0 -84px; }
 .wsite-button-large.wsite-button-highlight { background-image: url(theme/button_large_highlight_green.png?1452193708); }
 .wsite-button-large.wsite-button-highlight .wsite-button-inner { background-image: url(theme/button_large_highlight_green.png?1452193708); }
 .wsite-button-highlight { background-image: url(theme/button_highlight_green.png?1452193708); }
 .wsite-button-highlight .wsite-button-inner { background-image: url(theme/button_highlight_green.png?1452193708); }

div.paragraph ul, div.paragraph ol { padding-left: 3em !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
