---
layout: default
---
<div class="pure-g">
  <div class="pure-u-1-4 pad-lft">    
    <h4 class=""> <i class="mega-octicon octicon-mark-github"></i> {{ site.title }} </h4>
    <div class="pure-menu custom-restricted-width">
      <ul class="pure-menu-list">
        
        <h3 class="pure-menu-item mar-top"> DOCUMENTATION </h3>
        
        <li class="pure-menu-item"> ABOUT </li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Introduction</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Organization</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
        
        <li class="pure-menu-item"> NEWS </li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Releases</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Road map</a></li>
        
        <li class="pure-menu-item"> HELP </li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Getting started</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Setup</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Database</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Design</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Code</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Documentation</a></li>
        
        <li class="pure-menu-item"> FAQ </li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Getting help</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link"> Contributing</a></li>
        
        <li class="pure-menu-item"> RESOURCES </li>        
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Glossary</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Site map</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tutorials</a></li>
                
      </ul>
    </div>
  </div>
  <div class="pure-u-3-4 pad-sides-2x">
    <div class="pure-g pad-top pad-btm">
      <div class="pure-u-1-2">
        <span class="pure-breadcrumb text-weak">About &raquo;</span>
      </div>
      <div class="pure-u-1-2">
        <a href="https://github.com/DIYbiosphere/diybiosphere.io/blob/master/about.md" class="link text-dark text-weak selectable pull-right">
          <i class="octicon octicon-pencil"></i> Edit this page
        </a>
      </div>
    </div>
    
    {{content}}
  </div>
</div>