<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="Site">

    {% include header.html %}
      <main class="Site-content">
        {{content}}
      </main>

    {% include footer.html %}


    <!-- Google Analytics -->
    <script src="https://www.google.com/jsapi"></script>

    <!-- JQuery & Semantic UI -->
    <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
    <script src="{{ "/semantic/dist/semantic.min.js" | prepend: site.baseUrl }}"></script>
    <script type="text/javascript">$('.ui.dropdown').dropdown();</script>
    <script type="text/javascript">$('.coded-with-love').popup({inline: true,hoverable: true,position: 'top left',delay: {hide: 300}});</script>

    <!-- Algolia search & components -->
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch-preact.min.js"></script>
    <script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.2/hogan.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css" />


    <!-- Embeded Gitter chat -->
    <script>((window.gitter = {}).chat = {}).options = { room: 'DIYbiosphere/sphere', activationElement: false };</script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

    <!-- Main JS file -->
    {% javascript main %}

    {% if page.layout == 'landing' %}
      <script type="text/javascript">$('.ui.accordion').accordion();</script>
    {% endif %}

    {% if page.layout == 'entries' %}
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/leaflet@1.0.0/dist/leaflet-src.js"></script>
      {% javascript entries %}
    {% endif %}

    {% if page.layout == 'docs' %}
      <script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
      <script type="text/javascript">$('.menu .item').tab();</script>
      <script type="text/javascript">$('.tabular.menu .item').tab();</script>
      <script type="text/javascript">$('.ui.accordion').accordion({onOpen: function (item) {setCookie('acordionIndex',this.index);}}).accordion('open', getCookie('acordionIndex'));</script>
      {% javascript docs %}
    {% endif %}

    {% if page.layout == 'form' or page.layout == "entries" %}
    <!-- Algolia places -->
      <script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>
      <!-- Address and autocomplete -->
      <script>
      (function() {
        var placesAutocomplete = places({
          container: document.querySelector('#form-address'),
          type: 'address',
          templates: {
            value: function(suggestion) {
              return suggestion.name;
            }
          }
        });
        placesAutocomplete.on('change', function resultSelected(e) {
          document.querySelector('#form-address2').value = e.suggestion.administrative || '';
          document.querySelector('#form-city').value = e.suggestion.city || '';
          document.querySelector('#form-zip').value = e.suggestion.postcode || '';
        });
      })();
      </script>
      <!-- City Search -->
      <script>
      (function() {
        var placesAutocomplete = places({
          container: document.querySelector('#city'),
          type: 'city',
          aroundLatLngViaIP: false,
          templates: {
            value: function(suggestion) {
              return suggestion.name;
            }
          }
        });
      })();
      </script>
      <!-- Country Search -->
      <script>
      (function() {
        var placesAutocomplete = places({
          container: document.querySelector('#country'),
          type: 'country',
          templates: {
            suggestion: function(suggestion) {
              return '<i class="flag ' + suggestion.countryCode + '"></i> ' +
                suggestion.highlight.name;
            }
          }
        });
      })();
      </script>
    {% endif %}

    {% if page.layout == 'entries' %}
      <script type="text/javascript">$('table').tablesort()</script>
      {% javascript slider-range %}

    {% endif %}


  </body>

</html>
