<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
      <main>
        {{content}}
      </main>
    {% include footer.html %}



      <button class="js-gitter-toggle-chat-button ui button">
          <div class="fa-4x">
          <span class="fa-layers fa-fw" data-tooltip="Open Gitter Chat" data-variation="mini" data-inverted="">
            <i class="fas fa-circle" style="color:mediumorchid"></i>
            <i class="fa-inverse fab fa-gitter" data-fa-transform="shrink-8"></i>
          </span>
      </button>


    <script>
      // instantsearch script below requires params stored in _config.yml
      // store them in global window state so script can access
      window.site = {
        algolia: {        
          appId: '{{ site.algolia.application_id }}',
          indexName: '{{ site.algolia.index_name }}',
          apiKey: '{{ site.algolia.search_only_api_key }}'
        }
      };

      ((window.gitter = {}).chat = {}).options = {
        room: 'diybiosphere/sphere',
        activationElement: false
      };
    </script>

    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>



      <!-- Google Analytics -->
    <script src="https://www.google.com/jsapi"></script>

      <!-- JQuery & Semantic UI -->
    <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
    <script src="/assets/semantic/dist/semantic.min.js"></script>
    <script type="text/javascript">$('.ui.dropdown').dropdown();</script>
    <script type="text/javascript">$('.tabular.menu .item').tab();</script>
    <script type="text/javascript">$('.message .close').on('click', function() {$(this).closest('.message').transition('fade');});</script>

    <script src="https://cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/autocomplete.es6"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js"></script>

    {% if page.layout == 'landing' %}     <!-- Owl Carousel for index/landing page -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/carousel.js"></script>
      <script type="text/javascript" src="/assets/js/mapbox-gl.js"></script>
    {% endif %}

    {% if page.layout == 'entries' %} <!-- Algolia instantsearch for browsing entries, accordion and tab menu for settings -->
      <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.4/dist/instantsearch.min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/browse_instantsearch.es6"></script>
      <script type="text/javascript">$('.viewAs.menu .item').tab();</script>
      <script type="text/javascript">$('.ui.accordion.browse').accordion();</script>
    {% endif %}

    {% if page.layout == 'docs' %} <!-- Documentation search from algolia -->
      <script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/docs.es6"></script>
    {% endif %}

  </body>
</html>
