---
layout: default
---

<div class="ui grid container xo top padding">

  <div class="twelve wide column">
    {% include breadcrumbs.html %}
    <article class="xo padding top twofold">
        <h1 class="ui header">
          {{ page.title }}
          <div class="ui sub header">{{ page.summary }}</div>
        </h1>
        <div class="ui divider"></div>
      {{content}}
    </article>
  </div>

  <div class="four wide column">
    <aside>
        {% include sidebar.html %}
    </aside>
  </div>

</div> <!-- close grid container -->
