---
layout: default
---
<div class="row submenu">
  <div class="col-sm-6 text-left">
    <a href="/database/" class="link selectable">
      Database
    </a>
    <i class="fa fa-angle-double-right"></i>
    <a href="/database/{{ page.collection | downcase }}s/" class="link selectable">
      {{ page.collection | capitalize }}
    </a>
    <i class="fa fa-angle-double-right"></i>
    <a href="#" class="link selectable">{{ page.title }}</a>
  </div>
  <div class="col-sm-6 text-right">
    <a href="{{site.github.repository_url}}/blob/master/{{page.path}}"
      class="link selectable" target="_blank">
      <i class="fa fa-pencil"></i> Edit this page
    </a>
  </div>
</div>

<div class="mar-no">
  <h1>{{ page.title }}</h1>
</div>
<div class="row">

  <div class="col-sm-4 col-md-push-8">
    <div class="infobox mar-all">
      <h3 class="infobox-title">

        <a class="link text-dark selectable" href="{{ page.website }}" target="_blank">
          {% if page.logo %}
            <img class="entry-logo" max-height="10%" width="70%" src="{{ page.logo }}" /> <i class="octicon octicon-link-external"></i>
          {% else %}
            {{ page.title }} <i class="octicon octicon-link-external"></i>
        </a>
          {% endif %}

        </h3>
          {% if page.since %}
          <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left"> Hello
            <i class="octicon octicon-gift"></i></button> {{ page.since }}
            <br/>
          {% endif %}

        {% if page.host %}
          {% assign host = page.host %}
          {% if host.name %}
            <i class="octicon octicon-home"></i>
            {{ host.name }}
            {% if host.sphere %}
              <a href="{{ page.host.biosphere | site.baseUrl }}">
                <i class="octicon octicon-link"></i> </a>
            {% endif %}
            {% if host.web %}
              <a href="{{ page.host.web | site.baseUrl }}">
                <i class="octicon octicon-link-external"></i> </a>
            {% endif %}
            <br/>
          {% endif %}
        {% endif %}

        {% if page.type %}
        <i class="octicon octicon-gear"></i> {{ page.type }}
        <br/>
        {% endif %}
      {% if page.affiliates %}
        <i class="octicon octicon-organization"></i>
        {% for affiliate in page.affiliates %}
          {% if affiliate.name %}
            {{ affiliate.name }}
          {% endif %}
          {% if affiliate.sphere %}
            <a href="{{ affiliate.sphere }}"><i class="octicon octicon-link"></i></a>
          {% endif %}
          {% if affiliate.web %}
            <a href="{{ affiliate.web }}"><i class="octicon octicon-link-external"></i></a>
          {% endif %}
          {% unless forloop.last %}
            {% if affiliate.name != null %}
              ,
            {% endif %}
          {% endunless %}
        {% endfor %}
        <br/>
      {% endif %}

      {% if page.address %}
        <i class="octicon octicon-location"></i>
        {{ page.address }}
        <br>
      {% endif %}

      {% if page.directions %}
        {{ page.directions }}
        </br>
        <a href="#" title="View in map"> <i class="octicon octicon-link-external"></i> </a>
        <br>
      {% endif %}

      {% if page.city or page.state or page.country %}
      <i class="octicon octicon-globe"></i> {{ page.city }}
        {% if page.state %}, {% endif %}
      {% endif %}
      {% if page.state %}
        {{ page.state }}
        {% if page.country %}, {% endif %}
      {% endif %}
      {% if page.country %}
        {{ page.country }}
        <br>
      {% endif %}
      {% if page.tags %}
        <hr/>
        <div class="mar-btm">
          <i class="octicon octicon-tag"></i> {{ page.tags | array_to_sentence_string }}
        </div>
      {% endif %}
    </div>
    <div class="mar-all text-right">
      {% include social-icons.html %}
    </div>
  </div>

  <div class="col-sm-8 col-md-pull-4">
    {{content}}
    <span class="text-weak">Last update: {{ page.last_modified_at | date: '%Y-%m-%d' }}</span>
  </div>

</div>
