---
layout: default
---

<!-- add header if available -->

{% if page.header %}
<div style="background-image: url({{ page.header }}); background-repeat: no-repeat;  height: 250px; background-size: cover; background-attachment: fixed;">
</div>
{% endif %}

<article>
  <div class="ui grid container xo top padding">
    <div class="computer tablet only row">
      <div class="eleven wide column">
        {% include contentTab.html %}
      </div>

      <div class="five wide column">
        {% include entry/infobox.html %}
        {% include entry/promotions.html %}
      </div>
    </div>
    <div class="mobile only row">
      <div class="sixteen wide column">
        {% include entry/infobox.html %}
        {% include entry/tags.html %}
        {% include entry/promotions.html %}
      </div>

      <div class="sixteen wide column">
        {% include contentTab.html %}≥
      </div>

    </div>
  </div>
</article>
