---
layout: default
---
<div class="content mar-no">
  {% include search-bar.html style="margin-top: -2.5%" %}
  
  <div class="pure-g pad-top pad-btm">
    <div class="pure-u-1-2">
      <span class="pure-breadcrumb text-weak">Initiatives &raquo;</span>
    </div>
    <div class="pure-u-1-2">
      <a href="https://github.com/DIYbiosphere/diybiosphere.io/blob/master/{{ page.title | downcase }}.html"
        class="link text-dark text-weak selectable pull-right" target="_blank">
        <i class="octicon octicon-pencil"></i> Edit this page
      </a>
    </div>
  </div>
  
  {{content}}

</div>
