---
layout: default
---

<div class="ui grid container xo padding top twofold">

  <!-- BROWSING INFORMATION -->
  <div class="sixteen wide column xo top padding">
    <!-- Browsing results and settings -->
    <div id="stats-container"></div>
    <div id="current-refined-values"></div>
    <div id="clear-all"></div>
  </div>

  <!-- BROWSING MENU SETTINGS-->
  <div class="sixteen wide column xo top padding">
    <div class="ui accordion browse">
      <!-- Search bar. Searches all the text in the entries-->
      <div class="title">
        <h3 class="ui grey header">
          <span class="xo padding twofold right"><i class="fal fa-angle-right fa-lg rotating icon"></i></span><i class="far fa-search fa-sm"></i> Search Entries
        </h3>
      </div>
      <div class="content">
        <!-- Search box. Edit `search-box` widget in `browse_instantsearch.es6`-->
        <div id="search-box"></div>
      </div>
      <div class="title">
        <h3 class="ui grey header">
            <span class="xo padding twofold right"><i class="fal fa-angle-right fa-lg rotating icon"></i></span><i class="far fa-filter fa-sm"></i> Filter Results
        </h3>
      </div>
      <div class="content">
        <table class="ui very basic table">
          <tbody>
            <tr>
              <td><h4 class="ui header">Collections:</h4></td>
              <td><div id="collection"></div></td>
            </tr>
            <tr>
              <td><h4 class="ui header">Type:</h4></td>
              <td><div id="type-org"></div></td>
            </tr>
            <tr>
              <td><h4 class="ui header">Tags:</h4></td>
              <td><div id="tags"></div></td>
            </tr>
          </tbody>
        </table>
      </div> <!-- close content -->
      <div class="title active">
        <h3 class="ui grey header">
            <span class="xo padding twofold right"><i class="fal fa-angle-right fa-lg rotating icon"></i></span><i class="far fa-sliders-v-square fa-sm"></i> View Settings
        </h3>
      </div>
      <div class="content active">
        <div class="ui grid">
          <div class="row">
            <div class="twelve wide column">
              <div id="pagination-container"></div>
            </div>
            <div class="four wide right aligned column">
              <!-- Pagination Menu. Edit `pagination` widget in `browse_instantsearch.es6`-->
              <div id="viewAs" class="ui viewAs compact small menu">
                <a class="item active" data-tab="viewList">
                  <span data-tooltip="View as List" data-variation="mini" data-inverted="">
                    <i class="far fa-list icon"></i>
                  </span>
                </a>
                <a class="item" data-tab="viewTable">
                  <span data-tooltip="View as Table" data-variation="mini" data-inverted="">
                    <i class="far fa-table icon"></i>
                  </span>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div> <!-- close content -->
    </div> <!-- close accordion -->
  </div>
    <!-- SEARCH RESULTS -->
  <div class="sixteen wide column xo padding twofold">
    <!-- Search results displayed in a list. Edit `HIT_TEMPLATE` in `browse_instantsearch.es6`-->
    <div class="ui active tab " data-tab="viewList">
      <div id="hits-container"></div>
    </div>
    <!-- Search results displayed in table. Edit `TABLE_TEMPLATE` in `browse_instantsearch.es6`-->
    <div class="ui tab" data-tab="viewTable">
      <div id="table-container"></div>
    </div>
  </div>  <!-- close results column -->
<div class="sixteen wide column">
  <div id="bottom-pagination-container"></div>
</div>
</div> <!--  grid container -->
