---
layout: default
---
<div class="container-fluid">
  <div class="row">
    <a href="/database/">
      Database
    </a>
    /
    <a href="/database/{{ page.collection | downcase }}/">
      {{ page.collection | capitalize }}
    </a>
    /
    <a href="#">{{ page.title | capitalize }}</a>
  </div>

Lastest Commit: {{ page.last_modified }}
<article>
<div class="row">
  <div class="mar-no">
    <h1>{{ page.title }}</h1>
  </div>
  <div>
  {% include infobox.html %}
  </div>
  <div class="container-fluid">
    {{content}}
  </div>
</article>

</div>

</div>
