---
layout: default
---

<div class="ui grid container">

  <!-- Collection -->
  <div class="eight wide column">
    <div class="header"><i class="folder icon"></i> Collection</div>
    <select class="ui dropdown">
      <option value="">Collection</option>
      <option value="project">Project</option>
      <option value="startup">Startup</option>
      <option value="lab">Lab</option>
      <option value="incubator">Incubator</option>
      <option value="group">Group</option>
      <option value="network">Network</option>
      <option value="event">Event</option>
      <option value="other">Other</option>
    </select>
  </div>
  <!-- Manager -->
  <div class="eight wide column">
    <div class="header"><i class="privacy icon"></i> Entry Manager</div>
    <div class="ui fluid input">
      <input type="text" placeholder="e.g. ahuacatl">
    </div>
  </div>
  <!-- Name of Initiative -->
  <div class="sixteen wide column">
    <div class="header"><i class="star icon"></i>Name of Initiative</div>
      <div class="ui fluid input">
        <input type="text" placeholder="e.g. Avocado Lab">
      </div>
  </div>
  <!-- Homepage URL -->
  <div class="sixteen wide column">
    <div class="header"><i class="external icon"></i>Homepage URL</div>
      <div class="ui fluid input">
        <input type="text" placeholder="e.g. https://avocadolab.io/">
      </div>
  </div>
  <!-- Logo URL -->
  <div class="sixteen wide column">
    <div class="header"><i class="image icon"></i>Logo URL</div>
      <div class="ui fluid input">
        <input type="text" placeholder="e.g. https://avocadolab.io/logo.png">
      </div>
  </div>
<!-- Established -->
  <div class="eight wide column">
    <div class="header">  <i class="gift icon"></i>Since</div>
      <div class="ui input">
        Year of beginning: <input type="text" placeholder="e.g. 1967">
      </div>
  </div>

  <div class="eight wide column">
    <div class="header">  <i class="image icon"></i>Established</div>
      <div class="ui input">
        Year of ending: <input type="text" placeholder="e.g. 2020">
      </div>
  </div>
<!-- Dates for Events -->
<div class="eight wide column">
  <div class="header">  <i class="image icon"></i>Dates</div>
    <div class="ui input">
      Start date: <input type="text" placeholder="e.g. 1967">
    </div>
</div>

<div class="eight wide column">
  <div class="header">  <i class="image icon"></i>Established</div>
    <div class="ui input">
      End date: <input type="text" placeholder="e.g. 1967">
    </div>
</div>


<!-- Address with Algolia Places -->
  <div class="eight wide column">
    <div class="header">  <i class="map marker icon"></i>Address</div>
      <div class="ui fluid input f16">
        <input type="search" id="city" placeholder="e.g. Michoacan" />
      </div>
  </div>

<form action="/billing" class="form">
  <div class="form-group">
    <label for="form-address">Address*</label>
    <input type="search" class="form-control" id="form-address" placeholder="Where do you live?" />
  </div>
  <div class="form-group">
    <label for="form-address2">Address 2</label>
    <input type="text" class="form-control" id="form-address2" placeholder="Street number and name" />
  </div>
  <div class="form-group">
    <label for="form-city">City*</label>
    <input type="text" class="form-control" id="form-city" placeholder="City">
  </div>
  <div class="form-group">
    <label for="form-zip">ZIP code*</label>
    <input type="text" class="form-control" id="form-zip" placeholder="ZIP code">
  </div>
</form>




<!-- City with Algolia Places -->
<div class="item">
  <i class="world icon"></i>
  <div class="content">
    <a class="header">Country</a>
    <div class="description">
      <div class="ui fluid input f16">
        <input type="search" id="city" placeholder="e.g. Michoacan" />
      </div>
    </div>
  </div>
</div>


<!-- Country with Algolia Places -->
  <link rel="stylesheet" type="text/css" href="//cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css" />
  <div class="item">
    <i class="flag icon"></i>
    <div class="content">
      <a class="header">Country</a>
      <div class="description">
        <div class="ui fluid input f16">
          <input type="search" id="country" placeholder="e.g. Mexico" />
        </div>
      </div>
    </div>
  </div>






</div> <!-- close list -->


</div> <!-- close column -->
</div> <!-- close container -->

<!-- Algolia places -->
<script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>

<!-- Address and autocomplete -->
<script>
(function() {
  var placesAutocomplete = places({
    container: document.querySelector('#form-address'),
    type: 'address',
    templates: {
      value: function(suggestion) {
        return suggestion.name;
      }
    }
  });
  placesAutocomplete.on('change', function resultSelected(e) {
    document.querySelector('#form-address2').value = e.suggestion.administrative || '';
    document.querySelector('#form-city').value = e.suggestion.city || '';
    document.querySelector('#form-zip').value = e.suggestion.postcode || '';
  });
})();
</script>


<!-- City Search -->
<script>
(function() {
  var placesAutocomplete = places({
    container: document.querySelector('#city'),
    type: 'city',
    aroundLatLngViaIP: false,
    templates: {
      value: function(suggestion) {
        return suggestion.name;
      }
    }
  });
})();
</script>


<!-- Country Search -->
<script>
(function() {
  var placesAutocomplete = places({
    container: document.querySelector('#country'),
    type: 'country',
    templates: {
      suggestion: function(suggestion) {
        return '<i class="flag ' + suggestion.countryCode + '"></i> ' +
          suggestion.highlight.name;
      }
    }
  });
})();
</script>
