---
layout: default
---

<div class="ui vertically padded grid container xo top padding fourfold">
  <!-- Title -->
  <div class="sixteen wide column">
    <h1 class="ui header">Adding a New Entry
      <div class="ui fitted divider"></div>
      <div class="sub header">How to add a new entry to the library</div>
    </h1>
  </div>
  <!-- Steps -->
  <div class="sixteen wide column">
    The steps for adding a new entry are essentially the following:
  </div>

  <div class="sixteen wide column center aligned">
    <div class="ui small mobile stackable steps">
      <div {% if page.step == "write" %} class="step active" {% elsif page.step == "save" %} class="completed step" {% else %} class="completed step" {% endif %}>
        <i class="write icon"></i>
        <div class="content">
          <div class="title"><a href="/form/write/">Write</a></div>
          <div class="description">Entry</div>
        </div>
      </div>
      <div {% if page.step == "write" %} class="step" {% elsif page.step == "save" %} class="active step" {% else %} class="completed step" {% endif %}>
        <i class="save icon"></i>
        <div class="content">
          <div class="title"><a href="/form/save/">Save</a></div>
          <div class="description">File</div>
        </div>
      </div>
      <div {% if page.step == "write" %} class="step" {% elsif page.step == "save" %} class="step" {% else %} class="active step" {% endif %}>
        <i class="big icons">
          <i class="file text outline icon"></i>
          <i class="arrow circle up corner add icon"></i>
        </i>
        <div class="content">
          <div class="title"><a href="/form/upload/">Upload</a></div>
          <div class="description">to GitHub</div>
        </div>
      </div>
    </div> <!-- close steps -->



  </div> <!-- close 16 column -->
  <!-- Form -->


  <div class="sixteen wide column">
    {{content}}
  </div> <!-- close 16 column -->

</div> <!-- close container -->
