---
layout: default
---

<div class="ui vertically padded grid container">
  <!-- Title -->
  <div class="sixteen wide column">
    <h1 class="ui header">Entry Form</h1>
    <div class="ui divider"></div>
    <div class="ui sub header">Add a New Entry to the Database  </div>
  </div>
  <!-- Steps -->
  <div class="sixteen wide column center aligned">
    <div class="ui mobile stackable steps">
      <div class="active step">
        <i class="write icon"></i>
        <div class="content">
          <div class="title">Write</div>
          <div class="description">Complete this form</div>
        </div>
      </div>
      <div class="step">
        <i class="save icon"></i>
        <div class="content">
          <div class="title">Save</div>
          <div class="description">Download text file</div>
        </div>
      </div>
      <div class="disabled step">
        <i class="big icons">
          <i class="file text outline icon"></i>
          <i class="arrow circle up corner add icon"></i>
        </i>
        <div class="content">
          <div class="title">Upload</div>
          <div class="description">Copy file to GitHub</div>
        </div>
      </div>
    </div> <!-- close steps -->
  </div> <!-- close 16 column -->
  <!-- Form -->

  <div class="sixteen wide column">
    <form class="ui equal width form">
    <!-- Collection -->
    <div class="required field">
      <label><i class="folder icon"></i>
        Collection</h4>
      </label>
        <div class="ui selection dropdown">
           <input type="hidden" name="collection">
           <i class="dropdown icon"></i>
           <div class="default text">Collection</div>
           <div class="menu">
               <div class="item" data-value="project">Project</div>
               <div class="item" data-value="startup">Startup</div>
               <div class="item" data-value="lab">Lab</div>
               <div class="item" data-value="incubator">Incubator</div>
               <div class="item" data-value="group">Group</div>
               <div class="item" data-value="network">Network</div>
               <div class="item" data-value="event">Event</div>
               <div class="item" data-value="other">Other</div>
           </div>
       </div>
    </div>

    <h4 class="ui dividing header">Entry Data</h4>
    <!-- Entry Manager -->
    <div class="required field">
      <label><i class="privacy icon"></i> Manager</label>
      <input type="text" name="manager" placeholder="GitHub username">
    </div>
    <!-- Name of Initiative -->
    <div class="required field">
      <label><i class="star icon"></i> Title</label>
      <input type="text" name="title" placeholder="Name of entry">
    </div>
    <!-- Homepage URL -->
    <div class="required field">
      <label><i class="external icon"></i> Website</label>
      <input type="text" name="website" placeholder="Initiative homepage URL">
    </div>
    <!-- Logo URL -->
    <div class="field">
      <label><i class="image icon"></i> Logo</label>
      <input type="text" name="logo" placeholder="Initiative logo URL">
    </div>
    <!-- Established -->
    <div class="fields">
      <div class="required field">
        <label><i class="gift icon"></i> Since</label>
        <input type="text" name="since" placeholder="Year of founding (YYYY)">
      </div>
      <div class="field">
        <label>Until</label>
        <input type="text" name="until" placeholder="Year of ending (YYYY)">
      </div>
    </div>
    <!-- Dates (only for Events)-->
    <div class="fields">
      <div class="required field">
        <label><i class="calendar icon"></i> Date</label>
        <input type="text" name="date-start" placeholder="Start Date (YYYY-MM-DD)">
      </div>
      <div class="required field">
        <label>Until</label>
        <input type="text" name="date-end" placeholder="End Date (YYYY-MM-DD)">
      </div>
    </div>
    <!-- Host Organization -->

    <!-- Type of Organization -->
    <div class="required field">
      <label><i class="folder icon"></i>
        Type of Initiative</h4>
      </label>
        <div class="ui selection dropdown">
           <input type="hidden" name="collection">
           <i class="dropdown icon"></i>
           <div class="default text">Type</div>
           <div class="menu">
               <div class="item" data-value="project">Project</div>
               <div class="item" data-value="startup">Startup</div>
               <div class="item" data-value="lab">Lab</div>
               <div class="item" data-value="incubator">Incubator</div>
               <div class="item" data-value="group">Group</div>
               <div class="item" data-value="network">Network</div>
               <div class="item" data-value="event">Event</div>
               <div class="item" data-value="other">Other</div>
           </div>
       </div>
    </div>
    <!-- Affiliates -->

    <!-- Location -->
      <!-- Address with Algolia Places -->
      <div>
        <div class="field">
          <label><i class="marker icon"></i> Address</label>
          <input type="search" name="address" id="form-address" placeholder="Search for Address">
        </div>
        <div class="field">
          <label> Address 2</label>
          <input type="text" name="address2" id="form-address2" placeholder="Address 2">
        </div>
        <div class="fields">
          <div class="field">
            <label> City</label>
            <input type="text" name="city" id="form-city" placeholder="City name">
          </div>
          <div class="field">
            <label>Post code</label>
            <input type="text" name="postcode" id="form-zip" placeholder="ZIP code/Postcode">
          </div>
        </div>
      </div>


      <!-- City with Algolia Places -->
      <div class="field">
        <label><i class="world icon"></i> City</label>
        <div class="f16">
          <input type="search" id="city" name="city" placeholder="Search for City">
        </div>
      </div>

      <!-- Country with Algolia Places -->
      <link rel="stylesheet" type="text/css" href="//cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css" />
      <div class="field">
        <label><i class="flag icon"></i> Country</label>
        <div class="f16">
          <input type="search" id="country" name="country" placeholder="Search for Country">
        </div>
      </div>


    <!-- Keywords -->
    <div class="field">
      <label><i class="tags icon"></i>Tags</label>
      <select multiple="" class="ui dropdown">
        <option value="">Select tags</option>
        <option value="AF">open source</option>
        <option value="AX">synthetic biology</option>
        <option value="AL">mycology</option>
        <option value="DZ">hardware</option>
      </select>
    </div>

    <!-- Socials -->
    <button class="ui labeled icon basic button" type="submit"><i class="add icon"></i> Add</button>


    <!-- BODY OF TEXT -->
    <h4 class="ui dividing header">Entry Description</h4>
    <div class="required field">
      <label>Summary</label>
      <textarea rows="2"></textarea>
    </div>

    <div class="field">
        <label>Text</label>
        <textarea></textarea>
    </div>


    <button class="ui labeled icon secondary button" type="submit"><i class="download icon"></i> Download text file</button>
  </form>
</div> <!-- close 16 column -->
</div> <!-- close container -->


<!-- JS Semantic UI -->
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="{{ "semantic/dist/semantic.min.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript">
  $('select.dropdown').dropdown();
</script>

<!-- Algolia places -->
<script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>

<!-- Address and autocomplete -->
<script>
(function() {
  var placesAutocomplete = places({
    container: document.querySelector('#form-address'),
    type: 'address',
    templates: {
      value: function(suggestion) {
        return suggestion.name;
      }
    }
  });
  placesAutocomplete.on('change', function resultSelected(e) {
    document.querySelector('#form-address2').value = e.suggestion.administrative || '';
    document.querySelector('#form-city').value = e.suggestion.city || '';
    document.querySelector('#form-zip').value = e.suggestion.postcode || '';
  });
})();
</script>


<!-- City Search -->
<script>
(function() {
  var placesAutocomplete = places({
    container: document.querySelector('#city'),
    type: 'city',
    aroundLatLngViaIP: false,
    templates: {
      value: function(suggestion) {
        return suggestion.name;
      }
    }
  });
})();
</script>


<!-- Country Search -->
<script>
(function() {
  var placesAutocomplete = places({
    container: document.querySelector('#country'),
    type: 'country',
    templates: {
      suggestion: function(suggestion) {
        return '<i class="flag ' + suggestion.countryCode + '"></i> ' +
          suggestion.highlight.name;
      }
    }
  });
})();
</script>
