<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="page-wrap">

    <div>
      {% include header.html %}
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/assets/img/header.jpg">
      <div class="row pad-btm">
        <div class="col-sm-offset-3 col-sm-6">
          <h3 class="text-center">
            The <b>DIYbiosphere</b> is a participatory project to create an open database
            of Do-it-Yourself Biology initiatives from all over the world.
          </h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-offset-3 col-sm-3">
          <form id="search-form" method="GET" action="/database/">
            <div class="input-addon">
              <i class="fa fa-sliders input-icon-right"></i>
              <i class="fa fa-search input-icon-left"></i>
              <input id="search" class="form-control" type="text"
                placeholder="Search database" autofocus>
            </div>
          </form>
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#search-modal">
            Show more filters
          </button>
        </div>
        <div class="col-sm-1">
          <h3 style="color:black; margin-top:0.2em; font-weight:700;">OR</h3>
        </div>
        <div class="col-sm-3 text-left">
          <a class="btn btn-dark" href="{{ '/help/tutorials/add-entry/' | prepend: site.baseurl }}"
            style="text-transform: none" target="_blank">
            <i class="fa fa-plus"></i>
            Add DIYbio initiative
          </a>
        </div>
      </div>
    </div>

    <div class="container text-center">
      <h3 class="text-strong">Discover initiatives in <span id="blinking"></span></h3>
      <p class="text-strong">(select a region)</p>

      <div class="row">
        {% include world-map.html %}
      </div>

    </div>

    <div class="row">
      {% include footer.html %}
    </div>
    {% include search-modal.html %}
    <script src="https://www.google.com/jsapi"></script>

    <!--<script type="text/javascript">
        google.load('search', '1', {style: google.loader.themes.MINIMALIST});
        google.setOnLoadCallback(function(){
          new google.search.CustomSearchControl('002058816176939038659:qw61inx0ugu').draw('cse');
        }, true);
    </script>-->

    <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax.js/1.4.2/parallax.min.js" type="text/javascript"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    {% js landing %}
<!-- Gitter sidecar script -->
    <script>((window.gitter = {}).chat = {}).options = {room: 'DIYbiosphere/sphere'};</script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    {% js main %}
</div>
  </body>

</html>
