.error-page {
  padding: 2em 0;

  ul {
    list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  li {
    display: inline-block;
  }
}

.octocat {
  padding: 0 3em;
  vertical-align: top;
}

.oops {
  font-size: 2em;
}

.error-404 {
  font-size: 7em;
}
