.breadcrumbs {
  padding-top: 10px;
  font-wight: 300;
  font-size: 0.9em;
  color: $primary;

  a {
    color: currentColor;

    .octicon {
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
   li {
     display: inline;
     padding-bottom: 3px;
   }

  }

.commits {
  float:right;
}

.crumbs {
  font-size: 1em;
}
