.docs-content {
  display: table;
  width: 100%;
  margin:0 auto;
}

.docs-text {
  float: none;
  display: table-cell;
    padding-bottom: 50px;
}

.side-nav {
  float: none;
  display: table-cell;
vertical-align: top;
padding-left: 0;
padding-right: 0;
width: 20%;
}

.sidenav-wrapper {
  padding: 20px;
}

.docs-row {
    height: 100%;
    margin: 0;
    display: table-row;
    &:before, &:after {
        content: none;
    }
}
