.docs-content {
  max-width: $max-content-width;
  margin: auto;
  display: flex;
  height: 100%;
}

.summary {
  p {
    font-style: italic !important;
  }

}

.docs-text {
  padding-bottom: 50px;
  flex: 0 0 75%;
  height: 100%;
}


.side-nav {
  height: 100%;
  color: $primary;
  vertical-align: top;
  font-size: 0.9em;
  background: $fine-gray;
  position: relative;
  height: 100%;
  flex: 0 0 25%;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top:0;
    height: 100%;
    width: 100vw;
    z-index:-1;
    background: $fine-gray;
  }

  h4 {
    text-align: left;
    font-weight: 700;
  }

  ul {
    padding-right: 37px;
  }

  li {
    list-style: none;
  }

  a {
    color: currentColor;
    margin-left: .5em;
    text-decoration: none;

    &:hover {
      color: $hyperlink;
      cursor: pointer;
    }
  }
}

.sidenav-wrapper {
  padding: 20px;
}

.docs-row {
    height: 100%;
    margin: 0;
    display: table-row;
    &:before, &:after {
        content: none;
    }
}
