.navbar {
  background-color: $default;
  font-weight: 700;
  font-size: 1.4em;
  border-bottom: $primary solid 3px;
  height: 90px;

  li {
  padding-top: 100;
  vertical-align: middle;
  line-height: 90px;

    .navl2 {
    line-height: 30px;
    }
  }

  a {
    text-decoration: none;
  }

  .fa {
    padding-right: 10px;
  }
}

.navbar .navbar-nav ul {
      vertical-align: middle;
}

.navbar .navbar-nav li a {
  display: inline-block;
  color: $primary;
}

.navbar .navbar-nav li a:hover {
  color: $hyperlink;
  text-decoration: none;
  background-color: $default;
}

.navbar .navbar-nav li a .fa-chevron-down {
  color: $warm-gray;
  font-size: 12px;
}


.logo {
  max-height: 60px;
  vertical-align: middle;
}

/*
* Overwrite default values
*/
