.infobox {
  font-family: $fonts;
  width: 300px;
  float: right;
  margin: 0 1em;

  button {
    height: 19px;
  }

  .octicon-link-external {
    padding-left: 2px;
    vertical-align: top;
    color: $warm-gray;
    font-size: 12px;
  }

  .octicon-link {
    padding-left: 2px;
    vertical-align: top;
    padding-top: 2px;
  }
}

.datafields {
    border: 1px solid $primary;
    padding: 0.6em;
}

.keywords {
    border-bottom: 1px solid $primary;
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;
    padding: 0.6em;
}

.entry-logo {
  max-height: 80px;
  max-width: 160px;
}
.infobox p {
  display: inline;
}

.infobox-title {
  text-align: center;
  font-weight: 600;
}

.infobox-icon {
  border: 0;
  background-color: $default;
  height: 1em;
  }

.box-info {
  border: 1px solid black;
  width: 100%;

  button {
    height: 19px;
  }


  th {
    width: 15px;
    vertical-align: top;
    padding-left: 10px;
  }

  td {
    padding: 2px 10px 2px 2px;
  }

  .info-tags {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    td {
      padding: 10px 10px 10px 2px;
    }

    th {
      padding: 10px 0 10px 10px;
    }

  }

  .info-socials {
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px 0;
  }
}
