.side-menu {
  border-right: 2px solid $light-gray;
  height: 100%;
  background-color: $light-gray;
  .side-menu-title {
    padding-top: 1em;
    font-size: 115%;
  }

  h3 {
    padding-top: 0px;
  }

  ul {
    padding-right: 37px;
  }

  li {
    list-style: none;
  }

  a {
    color: black;
    margin-left: .5em;
    text-decoration: none;

    &:hover {
      color: $hyperlink;
      cursor: pointer;
    }
  }
}

.sticky {
  position: relative;
  top: 0;
}
